openapi: 3.1.0
info:
  title: Customs API
  version: 1.0.0
  description: Public APIs for customs integration
  contact:
    name: Platform Support
    email: platform-support@serhafen.com
paths:
  /v0/mawbs/{mawbId}/status:
    put:
      summary: Update MAWB status
      description: Updates the status of an existing MAWB
      operationId: updateMawbStatus
      parameters:
        - name: x-business-unit
          in: header
          required: true
          description: Business unit identifier for multi-tenant routing and data segregation. This header is required for all API requests.
          schema:
            type: string
            enum:
              - serhafen
        - name: x-country-code
          in: header
          required: true
          description: ISO 3166-1 alpha-2 country code representing the country context for the request. Used for country-specific processing and routing.
          schema:
            type: string
            enum:
              - ag
        - name: mawbId
          in: path
          required: true
          schema:
            type: string
            pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
          description: MAWB UUID
          example: 018f-1234-5678-9abc-def012345678
        - name: mawbCreatedAt
          in: query
          required: true
          schema:
            type: string
            format: date-time
          description: MAWB creation timestamp (part of composite primary key)
          example: '2024-01-15T08:00:00Z'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMawbStatusRequest'
      responses:
        '200':
          description: MAWB status updated successfully
          headers:
            X-Trace-Id:
              description: Trace identifier for this request
              schema:
                type: string
                pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
              example: 550e8400-e29b-41d4-a716-446655440000
            X-Span-Id:
              description: Span identifier for this request
              schema:
                type: string
                pattern: ^[0-9a-f]{16}$
              example: 1234567890abcdef
            traceparent:
              description: W3C Trace Context traceparent header
              schema:
                type: string
                pattern: ^00-[0-9a-f]{32}-[0-9a-f]{16}-[0-9a-f]{2}$
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateMawbStatusResponse'
              examples:
                success:
                  summary: Successful Status Update
                  value:
                    success: true
                    data:
                      mawbId: 018f-1234-5678-9abc-def012345678
                      mawbCreatedAt: '2024-01-15T08:00:00Z'
                      statusCode: APPROVED
                      updatedAt: '2024-01-20T10:30:00Z'
                      updatedBy: customs-officer
        '400':
          description: Invalid status transition or validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateMawbStatusBusinessErrorResponse'
              examples:
                invalid_transition:
                  summary: Invalid Status Transition
                  value:
                    success: false
                    error:
                      code: INVALID_TRANSITION
                      message: Transition from IN_REVIEW to DRAFT is not allowed
                validation_error:
                  summary: Validation Error
                  value:
                    success: false
                    error:
                      code: VALIDATION_ERROR
                      message: Request validation failed
                      details:
                        - field: statusCode
                          error: statusCode is required
                          code: REQUIRED
                        - field: updatedBy
                          error: updatedBy is required
                          code: REQUIRED
        '404':
          description: MAWB not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateMawbStatusNotFoundErrorResponse'
              examples:
                mawb_not_found:
                  summary: MAWB Not Found
                  value:
                    success: false
                    error:
                      code: MAWB_NOT_FOUND
                      message: MAWB with ID '018f-1234-5678-9abc-def012345678' not found
        '409':
          description: Version mismatch or concurrent update
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateMawbStatusConflictErrorResponse'
              examples:
                version_mismatch:
                  summary: Version Mismatch
                  value:
                    success: false
                    error:
                      code: VERSION_MISMATCH
                      message: MAWB was modified by another operation. Please reload and retry.
                      details:
                        - field: version
                          error: Current version is 5, expected 4
                          code: OPTIMISTIC_LOCK_FAILED
                concurrent_update:
                  summary: Concurrent Update
                  value:
                    success: false
                    error:
                      code: CONCURRENT_UPDATE
                      message: Another update operation is in progress. Please retry.
                      details:
                        - field: retryAfter
                          error: '5'
                          code: RETRY_AFTER_SECONDS
        '422':
          description: Unprocessable entity - Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateMawbStatusValidationErrorResponse'
              examples:
                missing_fields:
                  summary: Missing Required Fields
                  value:
                    error:
                      code: VALIDATION_ERROR
                      message: Request validation failed
                      details:
                        - field: statusCode
                          error: statusCode is required
                          code: REQUIRED
                        - field: updatedBy
                          error: updatedBy is required
                          code: REQUIRED
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateMawbStatusServerErrorResponse'
              examples:
                server_error:
                  summary: Server Error
                  value:
                    success: false
                    error:
                      code: INTERNAL_SERVER_ERROR
                      message: An unexpected error occurred while updating MAWB status
                      details:
                        - field: system
                          error: Database connection failed
                          code: DATABASE_ERROR
      tags:
        - Declarations
      servers:
        - url: https://api.serhafen-tech.com
          description: Production server
        - url: https://api-staging.serhafen-tech.com
          description: Staging server
  /v0/mawbs/{mawbId}:
    patch:
      summary: Update MAWB details
      description: Updates an existing Master Air Waybill (MAWB) with the provided fields. Only the fields provided in the request will be updated.
      operationId: updateMawbDetails
      parameters:
        - name: x-business-unit
          in: header
          required: true
          description: Business unit identifier for multi-tenant routing and data segregation. This header is required for all API requests.
          schema:
            type: string
            enum:
              - serhafen
        - name: x-country-code
          in: header
          required: true
          description: ISO 3166-1 alpha-2 country code representing the country context for the request. Used for country-specific processing and routing.
          schema:
            type: string
            enum:
              - ag
        - name: Authorization
          in: header
          required: true
          description: Bearer token for authenticating API requests. The token must be included in the Authorization header.
          schema:
            type: string
            example: Bearer <token>
        - name: mawbId
          in: path
          required: true
          schema:
            type: string
            pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
          description: MAWB UUID
          example: 018f-1234-5678-9abc-def012345678
        - name: mawbCreatedAt
          in: query
          required: true
          schema:
            type: string
            format: date-time
          description: MAWB creation timestamp (part of composite primary key)
          example: '2024-01-15T08:00:00Z'
      requestBody:
        required: true
        description: MAWB patch request. Only the provided fields will be updated. Fields not included in the request remain unchanged.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMawbDetailsRequest'
            examples:
              basic_edit_mawb_request:
                summary: Basic MAWB edit request
                value:
                  flightNumber: AR1132
                  manifestNumber: MAN-001-1234569
                  bigbagCount: 5
                  totalPackagesDeclared: 8
                  totalWeight: 1500
                  totalWeightUOM: KG
                  referenceNumber: REF-123456789
                  mawbNumber: 125-87654321
                  eta: '2024-01-20T14:30:00Z'
                  etd: '2024-01-18T08:15:00Z'
      responses:
        '200':
          description: MAWB updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateMawbDetailsResponse'
              examples:
                success:
                  summary: Successful MAWB Update
                  value:
                    data:
                      mawbId: 018f1234-5678-9abc-def0-123456789abc
                      mawbNumber: 125-87654321
                      status: UPDATED
                      createdAt: '2024-01-15T10:30:00Z'
                      updatedAt: '2024-01-20T15:45:00Z'
                      manifestNumber: MAN-001-1234569
                      flightNumber: AR1132
                      bigbagCount: 5
                      totalPackagesDeclared: 8
                      totalWeight: 1500
                      totalWeightUOM: KG
                      referenceNumber: REF-123456789
                      eta: '2024-01-20T14:30:00Z'
                      etd: '2024-01-18T08:15:00Z'
                    message: MAWB updated successfully
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateMawbDetailsValidationErrorResponse'
        '404':
          description: MAWB not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateMawbDetailsNotFoundErrorResponse'
        '409':
          description: Business rule violation or version mismatch
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateMawbDetailsConflictErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateMawbDetailsServerErrorResponse'
      tags:
        - Shipments
      servers:
        - url: https://api.serhafen-tech.com
          description: Production server
        - url: https://api-staging.serhafen-tech.com
          description: Staging server
    get:
      summary: Get MAWB by ID and created at
      description: |
        Returns a single MAWB by its unique identifier and creation date.
        Both mawbId and mawbCreatedAt are required as they form the composite primary key.
      operationId: getMawbByIdAndCreatedAt
      parameters:
        - name: x-business-unit
          in: header
          required: true
          description: Business unit identifier for multi-tenant routing and data segregation. This header is required for all API requests.
          schema:
            type: string
            enum:
              - serhafen
        - name: x-country-code
          in: header
          required: true
          description: ISO 3166-1 alpha-2 country code representing the country context for the request. Used for country-specific processing and routing.
          schema:
            type: string
            enum:
              - ag
        - name: Authorization
          in: header
          required: true
          description: Bearer token for authenticating API requests. The token must be included in the Authorization header.
          schema:
            type: string
            example: Bearer <token>
        - name: mawbId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Unique identifier of the MAWB
        - name: mawbCreatedAt
          in: query
          required: true
          schema:
            type: string
            format: date-time
          description: |
            ISO 8601 date-time when the MAWB was created.
            Required as part of the composite primary key for partition lookup.
      responses:
        '200':
          description: Successful MAWB retrieval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMawbByIdSuccessResponse'
        '400':
          description: Bad Request - Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invalidMawbId:
                  value:
                    success: false
                    error:
                      code: VALIDATION_ERROR
                      message: Invalid path parameter
                      details:
                        - field: mawbId
                          error: mawbId must be a valid UUID
                          code: INVALID_FORMAT
                invalidMawbCreatedAt:
                  value:
                    success: false
                    error:
                      code: VALIDATION_ERROR
                      message: Invalid query parameter
                      details:
                        - field: mawbCreatedAt
                          error: mawbCreatedAt must be a valid ISO8601 date-time
                          code: INVALID_FORMAT
                invalidBoth:
                  value:
                    success: false
                    error:
                      code: VALIDATION_ERROR
                      message: Invalid parameters provided
                      details:
                        - field: mawbId
                          error: mawbId must be a valid UUID
                          code: INVALID_FORMAT
                        - field: mawbCreatedAt
                          error: mawbCreatedAt must be a valid ISO8601 date-time
                          code: INVALID_FORMAT
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error:
                  code: FORBIDDEN
                  message: Insufficient permissions to access this resource
        '404':
          description: Not Found - MAWB not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error:
                  code: RESOURCE_NOT_FOUND
                  message: MAWB not found
        '500':
          description: Internal Server Error - Unexpected server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error:
                  code: INTERNAL_SERVER_ERROR
                  message: An unexpected error occurred while processing the request
      tags:
        - Tracking
      servers:
        - url: https://api.serhafen-tech.com
          description: Production server
        - url: https://api-staging.serhafen-tech.com
          description: Staging server
components:
  schemas:
    UpdateMawbDetailsRequest:
      type: object
      properties:
        flightNumber:
          type: string
          maxLength: 20
          description: Flight number
          example: AR1132
        manifestNumber:
          type: string
          maxLength: 50
          pattern: ^[A-Z0-9-]+$
          description: Manifest number
          example: MAN-001-1234569
        bigbagCount:
          type: integer
          minimum: 0
          description: Big bag count
          example: 5
        totalPackagesDeclared:
          type: integer
          minimum: 0
          description: Total packages declared
          example: 8
        totalWeight:
          type: number
          minimum: 0
          description: Total weight
          example: 1500
        totalWeightUOM:
          type: string
          maxLength: 10
          description: Total weight unit of measure
          example: kg
        referenceNumber:
          type: string
          maxLength: 100
          description: Reference number
          example: REF-123456789
        mawbNumber:
          type: string
          maxLength: 20
          description: MAWB number
          example: 125-87654321
        eta:
          type: string
          format: date-time
          description: Estimated time of arrival
          example: '2024-01-20T14:30:00Z'
        etd:
          type: string
          format: date-time
          description: Estimated time of departure
          example: '2024-01-18T08:15:00Z'
    UpdateMawbDetailsResponse:
      type: object
      required:
        - data
        - message
      properties:
        data:
          $ref: '#/components/schemas/UpdateMawbDetailsResponseData'
        message:
          type: string
          description: Response message
          example: MAWB updated successfully
    UpdateMawbDetailsValidationErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          $ref: '#/components/schemas/UpdateMawbDetailsValidationErrorResponseError'
    UpdateMawbDetailsNotFoundErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          $ref: '#/components/schemas/UpdateMawbDetailsNotFoundErrorResponseError'
    UpdateMawbDetailsConflictErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          $ref: '#/components/schemas/UpdateMawbDetailsConflictErrorResponseError'
    UpdateMawbDetailsServerErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          $ref: '#/components/schemas/UpdateMawbDetailsServerErrorResponseError'
    GetMawbByIdSuccessResponse:
      type: object
      required:
        - data
      properties:
        data:
          $ref: '#/components/schemas/MawbData'
    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          $ref: '#/components/schemas/ErrorObject'
    UpdateMawbStatusRequest:
      type: object
      required:
        - statusCode
      properties:
        statusCode:
          type: string
          enum:
            - DRAFT
            - CREATED
            - PENDING_AGENT_VALIDATION
            - FILE_GENERATION_INITIATED
            - READY_FOR_CUSTOM_DECLARATION
            - CUSTOM_DECLARATION_REJECTED
            - CUSTOMS_DECLARED
            - READY_FOR_CUSTOM_CLEARANCE
            - HANDLER_ATTENTION_RECOMMENDED
            - WH_READY_FOR_CUSTOM_CLEARANCE
            - WH_HANDLER_ATTENTION_REQUIRED
            - PENDING_CUSTOM_VERIFICATION
            - READY_FOR_HANDOVER
          description: New status code for the MAWB
          example: CUSTOMS_DECLARED
        observation:
          type: string
          maxLength: 1000
          description: Reason for status update
          example: Customs approval received
    UpdateMawbStatusResponse:
      type: object
      required:
        - success
        - data
      properties:
        success:
          type: boolean
          description: Indicates if the status update was successful
          example: true
        data:
          $ref: '#/components/schemas/UpdateMawbStatusResponseData'
    UpdateMawbStatusBusinessErrorResponse:
      type: object
      required:
        - success
        - error
      properties:
        success:
          type: boolean
          example: false
        error:
          $ref: '#/components/schemas/UpdateMawbStatusBusinessErrorResponseError'
    UpdateMawbStatusNotFoundErrorResponse:
      type: object
      required:
        - success
        - error
      properties:
        success:
          type: boolean
          example: false
        error:
          $ref: '#/components/schemas/UpdateMawbStatusNotFoundErrorResponseError'
    UpdateMawbStatusConflictErrorResponse:
      type: object
      required:
        - success
        - error
      properties:
        success:
          type: boolean
          example: false
        error:
          $ref: '#/components/schemas/UpdateMawbStatusConflictErrorResponseError'
    UpdateMawbStatusValidationErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          $ref: '#/components/schemas/UpdateMawbStatusValidationErrorResponseError'
    UpdateMawbStatusServerErrorResponse:
      type: object
      required:
        - success
        - error
      properties:
        success:
          type: boolean
          example: false
        error:
          $ref: '#/components/schemas/UpdateMawbStatusServerErrorResponseError'
    UpdateMawbDetailsResponseData:
      type: object
      required:
        - mawbId
        - mawbNumber
        - status
        - createdAt
      properties:
        mawbId:
          type: string
          pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
          description: UUID of the MAWB that was updated
          example: 018f1234-5678-9abc-def0-123456789abc
        mawbNumber:
          type: string
          description: MAWB number
          example: MAWB-2024-001
        status:
          type: string
          description: Current status of the MAWB
          example: UPDATED
        createdAt:
          type: string
          format: date-time
          description: Creation timestamp
          example: '2024-01-15T10:30:00Z'
        updatedAt:
          type: string
          format: date-time
          description: Update timestamp
          example: '2024-01-15T10:30:00Z'
        manifestNumber:
          type: string
          description: Manifest number
          example: MAN-001-1234569
        flightNumber:
          type: string
          maxLength: 20
          description: Flight number
          example: AR1132
        bigbagCount:
          type: integer
          description: Big bag count
          example: 5
        totalPackagesDeclared:
          type: integer
          description: Total packages declared
          example: 8
        totalWeight:
          type: number
          minimum: 0
          description: Total weight
          example: 1500
        totalWeightUOM:
          type: string
          maxLength: 10
          description: Total weight unit of measure
          example: kg
        referenceNumber:
          type: string
          maxLength: 100
          description: Reference number
          example: REF-123456789
        eta:
          type: string
          format: date-time
          description: Estimated time of arrival
          example: '2024-01-20T14:30:00Z'
        etd:
          type: string
          format: date-time
          description: Estimated time of departure
          example: '2024-01-18T08:15:00Z'
    UpdateMawbDetailsValidationErrorResponseError:
      type: object
      required:
        - code
        - message
        - details
      properties:
        code:
          type: string
          example: VALIDATION_ERROR
        message:
          type: string
          example: Request validation failed
        details:
          type: array
          items:
            $ref: '#/components/schemas/UpdateMawbDetailsValidationErrorDetail'
    UpdateMawbDetailsNotFoundErrorResponseError:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          example: MAWB_NOT_FOUND
        message:
          type: string
          example: MAWB not found
    UpdateMawbDetailsConflictErrorResponseError:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: Error code indicating conflict type (VERSION_MISMATCH, CONCURRENT_UPDATE)
          example: VERSION_MISMATCH
        message:
          type: string
          description: Human-readable error message
          example: MAWB was modified by another operation. Please reload and retry.
        details:
          type: array
          items:
            $ref: '#/components/schemas/UpdateMawbDetailsValidationErrorDetail'
    UpdateMawbDetailsServerErrorResponseError:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          example: INTERNAL_SERVER_ERROR
        message:
          type: string
          example: An unexpected error occurred
        details:
          type: array
          items:
            $ref: '#/components/schemas/UpdateMawbDetailsValidationErrorDetail'
    MawbData:
      type: object
      properties:
        mawbId:
          type: string
          format: uuid
        mawbNumber:
          type: string
          maxLength: 50
        destinationCountryCode:
          type: string
          pattern: ^[A-Z]{2}$
        clientId:
          type: string
          format: uuid
        clientCode:
          type: string
        clientName:
          type: string
        customsType:
          type: string
        customsClearanceMode:
          type: string
        manifestNumber:
          type: string
          maxLength: 50
          nullable: true
        referenceNumber:
          type: string
          maxLength: 100
          nullable: true
        flightNumber:
          type: string
          maxLength: 50
          nullable: true
        flightId:
          type: string
          format: uuid
          nullable: true
        bigBagCount:
          type: integer
          nullable: true
        eta:
          type: string
          format: date-time
          nullable: true
        etd:
          type: string
          format: date-time
          nullable: true
        totalPackagesDeclared:
          type: integer
        totalWeight:
          type: number
        totalWeightUOM:
          type: string
        totalValue:
          type: number
        totalValueCurrency:
          type: string
          pattern: ^[A-Z]{3}$
        status:
          type: string
          enum:
            - DRAFT
            - CREATED
            - PENDING_AGENT_VALIDATION
            - FILE_GENERATION_INITIATED
            - READY_FOR_CUSTOM_DECLARATION
            - CUSTOM_DECLARATION_REJECTED
            - CUSTOMS_DECLARED
            - READY_FOR_CUSTOM_CLEARANCE
            - HANDLER_ATTENTION_RECOMMENDED
            - WH_READY_FOR_CUSTOM_CLEARANCE
            - WH_HANDLER_ATTENTION_REQUIRED
            - PENDING_CUSTOM_VERIFICATION
            - READY_FOR_HANDOVER
          description: Current status of the MAWB (must match state machine status codes).
          example: CREATED
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    ErrorObject:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          example: ERROR_CODE
        message:
          type: string
          example: ERROR_MESSAGE
        details:
          type: object
          properties:
            field:
              type: string
              example: ERROR_FIELD
            error:
              type: string
              example: ERROR_MESSAGE
            code:
              type: string
              example: ERROR_CODE
          required:
            - field
            - error
            - code
    UpdateMawbStatusResponseData:
      type: object
      required:
        - mawbId
        - mawbCreatedAt
        - statusCode
        - updatedAt
      properties:
        mawbId:
          type: string
          pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
          description: UUID of the MAWB that was updated
          example: 018f-1234-5678-9abc-def012345678
        mawbCreatedAt:
          type: string
          format: date-time
          description: Creation timestamp of the MAWB (part of composite primary key)
          example: '2024-01-15T08:00:00Z'
        statusCode:
          type: string
          description: Current status code
          example: APPROVED
        updatedAt:
          type: string
          format: date-time
          description: Update timestamp
          example: '2024-01-20T10:30:00Z'
    UpdateMawbStatusBusinessErrorResponseError:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: Error code (INVALID_TRANSITION, VALIDATION_ERROR, etc.)
          example: INVALID_TRANSITION
        message:
          type: string
          description: Human-readable error message
          example: Transition from IN_REVIEW to DRAFT is not allowed
        details:
          type: array
          items:
            $ref: '#/components/schemas/UpdateMawbStatusValidationErrorDetail'
    UpdateMawbStatusNotFoundErrorResponseError:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          example: MAWB_NOT_FOUND
        message:
          type: string
          example: MAWB not found
    UpdateMawbStatusConflictErrorResponseError:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: Error code indicating conflict type (VERSION_MISMATCH, CONCURRENT_UPDATE)
          example: VERSION_MISMATCH
        message:
          type: string
          description: Human-readable error message
          example: MAWB was modified by another operation. Please reload and retry.
        details:
          type: array
          items:
            $ref: '#/components/schemas/UpdateMawbStatusValidationErrorDetail'
    UpdateMawbStatusValidationErrorResponseError:
      type: object
      required:
        - code
        - message
        - details
      properties:
        code:
          type: string
          example: VALIDATION_ERROR
        message:
          type: string
          example: Request validation failed
        details:
          type: array
          items:
            $ref: '#/components/schemas/UpdateMawbStatusValidationErrorDetail'
    UpdateMawbStatusServerErrorResponseError:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          example: INTERNAL_SERVER_ERROR
        message:
          type: string
          example: An unexpected error occurred
        details:
          type: array
          items:
            $ref: '#/components/schemas/UpdateMawbStatusValidationErrorDetail'
    UpdateMawbDetailsValidationErrorDetail:
      type: object
      required:
        - field
        - error
        - code
      properties:
        field:
          type: string
          description: Field name that failed validation
          example: flightNumber
        error:
          type: string
          description: Human-readable error message
          example: Invalid flight number format
        code:
          type: string
          description: Machine-readable error code
          example: INVALID_FORMAT
    UpdateMawbStatusValidationErrorDetail:
      type: object
      required:
        - field
        - error
        - code
      properties:
        field:
          type: string
          description: Field name that failed validation
          example: statusCode
        error:
          type: string
          description: Human-readable error message
          example: Invalid status code
        code:
          type: string
          description: Machine-readable error code
          example: INVALID_ENUM
  securitySchemes: {}
  responses: {}
  requestBodies: {}
  parameters: {}
tags:
  - name: Declarations
    description: Declarations operations
  - name: Shipments
    description: Shipments operations
  - name: Tracking
    description: Tracking operations
security: []
