openapi: 3.1.0
info:
  title: Lastmile API
  version: 1.0.0
  description: Public APIs for lastmile integration
  contact:
    name: Platform Support
    email: platform-support@serhafen.com
paths:
  /shipment:
    post:
      operationId: createShipment
      summary: Create a new last-mile shipment
      description: |
        Create a new shipment with one or more packages for last-mile delivery.

        **Process Flow:**
        1. Shipment is created in the database with status `LM_SHIPMENT_INITIATED` (8000)
        2. Message is sent to SQS queue for asynchronous processing
        3. Partner shipment creation happens in the background
        4. Response includes initial shipment details and package IDs

        **Important Notes:**
        - Partner tracking number is generated asynchronously
        - Use the tracking endpoint to check for partner assignment
        - Multiple packages can be included in a single shipment
        - All packages must have the same destination country
      requestBody:
        required: true
        description: Shipment creation request with package details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateShipmentRequest'
            examples:
              singlePackagePeru:
                summary: Single package to Peru (Dinet)
                value:
                  clientId: '01'
                  destinationCountry: PE
                  masterAwbNo: AWB-PE-20260209-001
                  bigBagId: BB-PE-001
                  shipFrom:
                    region: Callao
                    province: Callao
                    comuna: Cercado
                    locality: Av. Colonial, Warehouse 5
                    zipCode: '07001'
                    latitude: -12.0464
                    longitude: -77.0428
                  shipTo:
                    region: Arequipa
                    province: Arequipa
                    comuna: Cercado
                    locality: Calle Mercaderes 123
                    zipCode: '04001'
                  consigneeInfo:
                    fullName: Juan Pérez
                    email: juan.perez@example.com
                    phone: '+51987654321'
                    customerIdentifier: '12345678'
                    customerIdentifierType: DNI
                  packages:
                    - trackingNumber: SH-PE-123456789
                      clientTrackingNumber: AE-ORDER-001
                      weight: 2.5
                      weightUom: KG
                      dimensions:
                        length: 30
                        lengthUom: cm
                        width: 20
                        widthUom: cm
                        height: 15
                        heightUom: cm
                      contentDetails:
                        - productDescription: Smartphone Case
                          contentType: BOX
                          productValue: 25
                          productValueCurrency: USD
                      logisticsOperator: DNT
                  uniqueReferences:
                    - key: order_id
                      value: ORD-2026-12345
                  eventOccurredAt: '2026-02-09T10:30:00Z'
              multiPackageChile:
                summary: Multiple packages to Chile (Enviame)
                value:
                  clientId: '02'
                  destinationCountry: CL
                  masterAwbNo: AWB-CL-20260209-002
                  bigBagId: BB-CL-002
                  shipFrom:
                    region: Región Metropolitana
                    province: Santiago
                    comuna: Pudahuel
                    locality: Av. Américo Vespucio 1500
                    zipCode: '9020000'
                  shipTo:
                    region: Valparaíso
                    province: Valparaíso
                    comuna: Viña del Mar
                    locality: Av. Libertad 250
                    zipCode: '2520000'
                  consigneeInfo:
                    fullName: Ana Silva
                    email: ana.silva@example.com
                    phone: '+56912345678'
                    customerIdentifier: 12.345.678-9
                    customerIdentifierType: RUT
                  packages:
                    - trackingNumber: SH-CL-123456790
                      weight: 0.5
                      weightUom: KG
                      dimensions:
                        length: 20
                        lengthUom: cm
                        width: 15
                        widthUom: cm
                        height: 5
                        heightUom: cm
                      logisticsOperator: ENVIAME
                    - trackingNumber: SH-CL-123456791
                      weight: 0.8
                      weightUom: KG
                      dimensions:
                        length: 25
                        lengthUom: cm
                        width: 20
                        widthUom: cm
                        height: 8
                        heightUom: cm
                      logisticsOperator: ENVIAME
      responses:
        '200':
          description: Shipment created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentResponse'
              examples:
                success:
                  summary: Successful shipment creation
                  value:
                    shipmentId: 550e8400-e29b-41d4-a716-446655440000
                    clientId: '01'
                    destinationCountry: PE
                    masterAwbNo: AWB-PE-20260209-001
                    bigBagId: BB-PE-001
                    createdAt: '2026-02-09T10:30:00Z'
                    updatedAt: '2026-02-09T10:30:00Z'
                    packages:
                      - packageId: 660e8400-e29b-41d4-a716-446655440001
                        trackingNumber: SH-PE-123456789
                        clientTrackingNumber: AE-ORDER-001
                        partnerTrackingNumber: DNT-PE-789456123
                        latestStatus: LM_SHIPMENT_INITIATED
                        canonicalStatusCode: '8000'
                        latestStatusOccurredAt: '2026-02-09T10:30:00Z'
                        executorName: DNT
                        partnerName: DNT
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      tags:
        - Shipments
      servers:
        - url: https://api.serhafen.tech/last-mile
          description: Production API
        - url: https://api.staging.serhafen.tech/last-mile  
          description: Staging API
        - url: /last-mile
          description: Local/Development API
    put:
      operationId: updateShipment
      summary: Update an existing shipment
      description: |
        Update a shipment to trigger partner-specific actions based on movement type.

        **Movement Types:**

        - `LM_SHIPMENT_CREATION`: Initial shipment creation (internal use)
        - `LM_READY_FOR_PICKUP`: Package cleared customs, ready for carrier pickup
        - `LM_DEPARTED_SH_PM_ZONE`: Package handed over to last-mile carrier
        - `LM_SHIPMENT_CANCELLATION`: Cancel the shipment (if supported by partner)

        **Important Notes:**
        - Package must exist in the database (use tracking number from creation)
        - Package must have an executor assigned (check status first)
        - Updates are processed asynchronously for some partners
        - Cancellation may not be supported by all partners
      requestBody:
        required: true
        description: Shipment update request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateShipmentRequest'
            examples:
              readyForPickup:
                summary: Mark packages as ready for pickup
                value:
                  movementType: LM_READY_FOR_PICKUP
                  clientId: '01'
                  destinationCountry: PE
                  shipFrom:
                    region: Callao
                    province: Callao
                    comuna: Cercado
                    locality: Av. Colonial, Warehouse 5
                  shipTo:
                    region: Arequipa
                    province: Arequipa
                    comuna: Cercado
                    locality: Calle Mercaderes 123
                  consigneeInfo:
                    fullName: Juan Pérez
                    email: juan.perez@example.com
                    phone: '+51987654321'
                  packages:
                    - trackingNumber: SH-PE-123456789
                      weight: 2.5
                      weightUom: KG
                      contentType: BOX
                    - trackingNumber: SH-PE-123456790
                      weight: 1.8
                      weightUom: KG
                      contentType: BOX
                  eventOccurredAt: '2026-02-09T14:00:00Z'
              handoverToCarrier:
                summary: Mark as handed over to carrier
                value:
                  movementType: LM_DEPARTED_SH_PM_ZONE
                  clientId: '01'
                  destinationCountry: PE
                  shipFrom:
                    region: Callao
                    province: Callao
                    comuna: Cercado
                    locality: Av. Colonial, Warehouse 5
                  shipTo:
                    region: Arequipa
                    province: Arequipa
                    comuna: Cercado
                    locality: Calle Mercaderes 123
                  consigneeInfo:
                    fullName: Juan Pérez
                    email: juan.perez@example.com
                    phone: '+51987654321'
                  packages:
                    - trackingNumber: SH-PE-123456789
                      weight: 2.5
                      weightUom: KG
                      contentType: BOX
                  eventOccurredAt: '2026-02-09T16:00:00Z'
              cancelShipment:
                summary: Cancel shipment
                value:
                  movementType: LM_SHIPMENT_CANCELLATION
                  clientId: '01'
                  destinationCountry: PE
                  shipFrom:
                    region: Callao
                    province: Callao
                    comuna: Cercado
                    locality: Av. Colonial, Warehouse 5
                  shipTo:
                    region: Arequipa
                    province: Arequipa
                    comuna: Cercado
                    locality: Calle Mercaderes 123
                  consigneeInfo:
                    fullName: Juan Pérez
                    email: juan.perez@example.com
                    phone: '+51987654321'
                  packages:
                    - trackingNumber: SH-PE-123456789
                      weight: 2.5
                      weightUom: KG
                      contentType: BOX
                  eventOccurredAt: '2026-02-09T12:00:00Z'
      responses:
        '200':
          description: Shipment updated successfully
          content:
            application/json:
              schema:
                type: string
                example: Package update processed successfully!!
        '400':
          description: Bad request - packages not found or missing executor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                packageNotFound:
                  summary: Package not found
                  value:
                    statusCode: 400
                    message: 'Packages not found: SH-PE-123456789'
                    error: Bad Request
                noExecutor:
                  summary: Package not created at executor
                  value:
                    statusCode: 400
                    message: 'Packages not created at executor end: SH-PE-123456789'
                    error: Bad Request
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      tags:
        - Shipments
      servers:
        - url: https://api.serhafen.tech/last-mile
          description: Production API
        - url: https://api.staging.serhafen.tech/last-mile  
          description: Staging API
        - url: /last-mile
          description: Local/Development API
  /asn:
    post:
      operationId: upsertAsn
      summary: Submit Advance Shipment Notice
      description: |
        Submit advance shipment notice (ASN) data for cross-border e-commerce shipments.

        Primarily used for AliExpress 4PL integration but supports other platforms.

        **Process:**
        1. ASN data is validated against required fields
        2. Destination country is auto-detected from receiver address
        3. ASN is stored and marked as "complete" or "incomplete"
        4. Incomplete ASNs can be updated with additional data later
        5. ASN data enriches shipment tracking and partner communication

        **Required Fields:**
        - `trackingNumber`: Unique tracking identifier
        - `logisticsOrderCode`: Logistics order reference
        - `bizType`: Business type (e.g., 'AE_4PL_ONLINE')
        - `nextCPResCode`: Next checkpoint resource code
        - `customs.declarePriceTotal`: Total declared price
        - `sender`: Complete sender information
        - `receiver.address.country`: Receiver country (if address provided)
        - `parcel.IOSSNo`: IOSS registration number
        - `parcel.goodsList`: List of goods
        - `pickup`: Complete pickup location
        - `returnParcel`: Return parcel information

        **Note:** See `/specs/asn-api.yaml` for complete field documentation.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        description: Complete ASN payload with required and optional fields
        content:
          application/json:
            schema:
              type: object
              description: See /specs/asn-api.yaml for complete schema
              example:
                trackingNumber: SH-PE-987654321
                logisticsOrderCode: LP00123456789
                bizType: AE_4PL_ONLINE
                nextCPResCode: AE_PE_LIMA_DC
                sender:
                  imID: ae_seller_12345
                  name: Global Electronics Store
                  phone: '+8613800138000'
                  email: store@globalelectronics.com
                  address:
                    country: China
                    province: Guangdong
                    city: Shenzhen
                receiver:
                  name: María González
                  phone: '+51987654321'
                  address:
                    country: Peru
                    province: Lima
                    city: Lima
                parcel:
                  weight: 0.8
                  IOSSNo: IM1234567890
                  goodsList:
                    - name: Smartphone Case
                      quantity: 1
                customs:
                  declarePriceTotal: '15.00'
      responses:
        '200':
          description: ASN recorded successfully
          content:
            application/json:
              schema:
                type: string
                example: Successfully recorded ASN
        '400':
          description: Validation failed or missing required fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                missingCountry:
                  summary: Missing receiver country
                  value:
                    statusCode: 400
                    message: 'Invalid Payload: Receiver address country is required'
                    error: Bad Request
                validationError:
                  summary: Field validation error
                  value:
                    statusCode: 400
                    message: Invalid Payload
                    error: Bad Request
                    details:
                      - path:
                          - parcel
                          - IOSSNo
                        message: Required field missing
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      tags:
        - ASN Integration
      servers:
        - url: https://api.serhafen.tech/last-mile
          description: Production API
        - url: https://api.staging.serhafen.tech/last-mile
          description: Staging API
        - url: /last-mile
          description: Local/Development API
  /package-status:
    post:
      operationId: updatePackageStatus
      summary: Update package status (Partner Webhook)
      description: |
        **FOR LAST-MILE PARTNERS ONLY**

        This endpoint receives status updates from last-mile delivery partners.

        **Authentication Requirements:**
        - `x-api-key` header: Partner-specific API key
        - `executor-name` header: Partner executor code (DNT, SAVAR, ENVIAME, etc.)

        **Process Flow:**
        1. Validate API key and executor name
        2. Map partner status code to canonical status
        3. Update package in database
        4. Create activity log entry
        5. Trigger client notifications (if configured)

        **Status Mapping:**
        Each partner has unique status codes that are mapped to Serhafen's canonical codes.
        Contact technical support for partner-specific status code mapping documentation.
      security:
        - ApiKeyAuth: []
        - ExecutorAuth: []
      requestBody:
        required: true
        description: Package status update from partner
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PackageStatusUpdate'
            examples:
              outForDeliveryWithEvidence:
                summary: Package out for delivery with tracking evidence
                value:
                  tracking_number: SH-PE-123456789
                  carrier_tracking_number: DNT-PE-789456123
                  carrier_name: Dinet
                  status_id: DNT-100
                  status_name: En ruta de entrega
                  status_information: Paquete en camión de reparto
                  status_date: '2026-02-09 16:00:00'
                  tracking_url:
                    - https://tracking.dinet.pe/evidence/image1.jpg
                    - https://tracking.dinet.pe/evidence/image2.jpg
              deliveredWithProof:
                summary: Package delivered with proof of delivery images
                value:
                  tracking_number: SH-PE-123456789
                  carrier_tracking_number: DNT-PE-789456123
                  status_id: DNT-250
                  status_name: Entregado
                  status_information: Entregado a destinatario - Juan Pérez
                  status_date: '2026-02-09 18:30:00'
                  tracking_url:
                    - https://tracking.dinet.pe/pod/delivery-photo.jpg
                    - https://tracking.dinet.pe/pod/signature.jpg
              delivered:
                summary: Package delivered
                value:
                  tracking_number: SH-PE-123456789
                  carrier_tracking_number: DNT-PE-789456123
                  status_id: DNT-250
                  status_name: Entregado
                  status_information: Entregado a destinatario - Juan Pérez
                  status_date: '2026-02-09 18:30:00'
              exception:
                summary: Delivery exception
                value:
                  tracking_number: SH-PE-123456789
                  status_id: DNT-300
                  status_name: No se pudo entregar
                  status_information: Destinatario ausente - Reintento programado
                  status_date: '2026-02-09 17:00:00'
      responses:
        '200':
          description: Package status updated successfully
          content:
            application/json:
              schema:
                type: string
                example: Package status updated successfully
        '400':
          description: Invalid request data or validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                missingField:
                  summary: Missing required field
                  value:
                    statusCode: 400
                    message: Invalid Package Status Update Data
                    error: Bad Request
                    details:
                      - path:
                          - tracking_number
                        message: Required field missing
        '401':
          description: Missing or invalid API key / executor name
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                statusCode: 401
                message: Unauthorized - Invalid API key or executor name
                error: Unauthorized
        '404':
          description: Package not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                statusCode: 404
                message: 'Package not found: SH-PE-123456789'
                error: Not Found
        '500':
          $ref: '#/components/responses/InternalServerError'
      tags:
        - Partner Integration
      servers:
        - url: https://api.serhafen.tech/last-mile  
          description: Production API
        - url: https://api.staging.serhafen.tech/last-mile
          description: Staging API
        - url: /last-mile
          description: Local/Development API
components:
  schemas:
    CreateShipmentRequest:
      type: object
      required:
        - clientId
        - destinationCountry
        - shipFrom
        - shipTo
        - consigneeInfo
        - packages
      properties:
        country:
          type: string
          description: Country (optional legacy field)
          example: Peru
        company:
          type: string
          description: Company name (optional)
          example: Serhafen
        createdBy:
          type: string
          description: User who created the shipment
          example: user@serhafen.com
        externalId:
          type: string
          description: External system identifier
          example: EXT-12345
        mawbId:
          type: string
          description: Master AWB ID reference
          example: MAWB-001
        awbDetailId:
          type: string
          description: AWB detail ID reference
          example: AWBD-001
        statusId:
          type: integer
          description: Initial status ID (optional)
          example: 1
        statusCode:
          type: string
          description: Initial status code (optional)
          example: '8000'
        guid:
          type: string
          format: uuid
          description: Global unique identifier
          example: 550e8400-e29b-41d4-a716-446655440000
        clientId:
          $ref: '#/components/schemas/ClientId'
        destinationCountry:
          $ref: '#/components/schemas/CountryCode'
        masterAwbNo:
          type: string
          description: Master air waybill number
          example: AWB-PE-20260209-001
        bigBagId:
          type: string
          description: Consolidation bag identifier
          example: BB-PE-001
        shipFrom:
          $ref: '#/components/schemas/Address'
        shipTo:
          $ref: '#/components/schemas/Address'
        consigneeInfo:
          $ref: '#/components/schemas/ConsigneeInfo'
        returnTo:
          $ref: '#/components/schemas/Address'
        packages:
          type: array
          description: List of packages in shipment
          items:
            $ref: '#/components/schemas/Package'
          minItems: 1
          maxItems: 100
        uniqueReferences:
          type: array
          description: Custom reference identifiers (keys must be unique)
          items:
            $ref: '#/components/schemas/UniqueReference'
        eventOccurredAt:
          type: string
          format: date-time
          description: Timestamp when event occurred (ISO 8601)
          example: '2026-02-09T10:30:00Z'
    ShipmentResponse:
      type: object
      properties:
        shipmentId:
          type: string
          format: uuid
          description: Unique shipment identifier
          example: 550e8400-e29b-41d4-a716-446655440000
        clientId:
          $ref: '#/components/schemas/ClientId'
        destinationCountry:
          $ref: '#/components/schemas/CountryCode'
        masterAwbNo:
          type: string
          example: AWB-PE-20260209-001
        bigBagId:
          type: string
          example: BB-PE-001
        shipFrom:
          $ref: '#/components/schemas/Address'
        shipTo:
          $ref: '#/components/schemas/Address'
        consigneeInfo:
          $ref: '#/components/schemas/ConsigneeInfo'
        returnTo:
          $ref: '#/components/schemas/Address'
        uniqueReferences:
          type: array
          items:
            $ref: '#/components/schemas/UniqueReference'
        packages:
          type: array
          items:
            $ref: '#/components/schemas/PackageResponse'
        createdAt:
          type: string
          format: date-time
          description: Shipment creation timestamp
          example: '2026-02-09T10:30:00Z'
        updatedAt:
          type: string
          format: date-time
          description: Last update timestamp
          example: '2026-02-09T10:30:00Z'
    UpdateShipmentRequest:
      type: object
      required:
        - movementType
        - clientId
        - destinationCountry
        - shipFrom
        - shipTo
        - consigneeInfo
        - packages
      description: |
        Update shipment request. Inherits all fields from CreateShipmentRequest 
        with an additional required `movementType` field.
      properties:
        movementType:
          $ref: '#/components/schemas/ShipmentMovementType'
        country:
          type: string
          description: Country (optional legacy field)
          example: Peru
        company:
          type: string
          description: Company name (optional)
          example: Serhafen
        createdBy:
          type: string
          description: User who created the shipment
          example: user@serhafen.com
        externalId:
          type: string
          description: External system identifier
          example: EXT-12345
        mawbId:
          type: string
          description: Master AWB ID reference
          example: MAWB-001
        awbDetailId:
          type: string
          description: AWB detail ID reference
          example: AWBD-001
        statusId:
          type: integer
          description: Status ID (optional)
          example: 1
        statusCode:
          type: string
          description: Status code (optional)
          example: '8000'
        guid:
          type: string
          format: uuid
          description: Global unique identifier
          example: 550e8400-e29b-41d4-a716-446655440000
        clientId:
          $ref: '#/components/schemas/ClientId'
        destinationCountry:
          $ref: '#/components/schemas/CountryCode'
        masterAwbNo:
          type: string
          description: Master air waybill number
          example: AWB-PE-20260209-001
        bigBagId:
          type: string
          description: Consolidation bag identifier
          example: BB-PE-001
        shipFrom:
          $ref: '#/components/schemas/Address'
        shipTo:
          $ref: '#/components/schemas/Address'
        consigneeInfo:
          $ref: '#/components/schemas/ConsigneeInfo'
        returnTo:
          $ref: '#/components/schemas/Address'
        packages:
          type: array
          description: List of packages to update
          items:
            $ref: '#/components/schemas/Package'
          minItems: 1
        uniqueReferences:
          type: array
          description: Custom reference identifiers (keys must be unique)
          items:
            $ref: '#/components/schemas/UniqueReference'
        eventOccurredAt:
          type: string
          format: date-time
          description: Timestamp when event occurred (ISO 8601)
          example: '2026-02-09T14:00:00Z'
    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          $ref: '#/components/schemas/ErrorObject'
    ClientId:
      type: string
      enum:
        - '01'
        - '02'
      description: |
        Client identifier code assigned by Serhafen.
        Contact Serhafen support to obtain your unique client ID.
        - "01": Example Client A
        - "02": Example Client B
      example: '01'
    CountryCode:
      type: string
      enum:
        - CL
        - PE
        - AR
        - US
      description: ISO 3166-1 alpha-2 country code
      example: PE
    ConsolidatedTrackingResponse:
      type: object
      required:
        - version
        - trackingNumber
        - clientId
        - countryCode
        - statuses
      properties:
        version:
          type: string
          description: API version identifier
          example: '1.0'
        trackingNumber:
          type: string
          description: The original tracking identifier from request
          pattern: '^SH[01]\d{2}\d{9}[A-Z]{2}$'
          example: SH011234567890PE
        clientId:
          type: string
          description: Client code extracted from tracking number (2 digits from positions 3-4)
          enum:
            - '01'
            - '02'
            - '03'
          example: '01'
        countryCode:
          type: string
          description: |
            Two-letter ISO 3166-1 alpha-2 country code extracted from tracking number.
            Last 2 characters of tracking number.
          minLength: 2
          maxLength: 2
          enum:
            - CL
            - PE
            - CO
            - AR
            - US
          example: PE
        statuses:
          type: array
          description: |
            Array of status updates sorted by occurrence time (oldest first).
            May contain up to 2 occurrences of each status code for tracking history.
          items:
            $ref: '#/components/schemas/ConsolidatedStatus'
    ConsolidatedStatus:
      type: object
      required:
        - stage
        - stageDescription
        - code
        - key
        - iconURL
        - statusDescription
        - occuredAt
        - errors
        - evidence
        - observation
      properties:
        stage:
          type: string
          description: The shipment stage identifier
          enum:
            - INWARD_CUSTOMS
            - LAST_MILE
          example: LAST_MILE
        stageDescription:
          type: object
          description: |
            Localized stage names for display purposes.
            Provides user-friendly stage names in multiple languages.
          required:
            - en
            - es
          properties:
            en:
              type: string
              description: English stage name
              example: Last Mile Delivery
            es:
              type: string
              description: Spanish stage name
              example: Entrega de Última Milla
        code:
          type: integer
          description: |
            Canonical status code identifier.
            Range: 2xxx for customs stages, 7xxx for last-mile stages.
          example: 7050
          minimum: 1000
          maximum: 9999
        key:
          type: string
          description: |
            Status key/identifier in UPPER_SNAKE_CASE format.
            Used for programmatic status handling.
          example: DELIVERED
        iconURL:
          type: string
          format: uri
          description: URL to the status icon image for visual display
          example: https://icons.serhafen.com/delivered.png
        statusDescription:
          description: |
            Localized status descriptions for display purposes.
            May be null if no description is available for this status.
          oneOf:
            - type: object
              properties:
                en:
                  type: string
                  description: English description
                  example: Package delivered successfully
                es:
                  type: string
                  description: Spanish description
                  example: Paquete entregado exitosamente
              additionalProperties:
                type: string
                description: Additional language descriptions (pt, fr, etc.)
            - type: 'null'
        occuredAt:
          $ref: '#/components/schemas/ConsolidatedStatusOccuredAt'
        errors:
          type: array
          description: |
            Array of errors associated with this status (always present, may be empty).
            Contains error information if there were issues retrieving this status data.
          items:
            $ref: '#/components/schemas/ConsolidatedError'
        evidence:
          type: array
          description: |
            Array of evidence URLs (always present, may be empty).

            **Evidence includes:**
            - Proof of delivery signatures
            - Delivery confirmation photos
            - Tracking portal URLs
            - Customs clearance documents

            **Note:** Evidence availability varies by country and delivery partner.
            An empty array means no evidence is available for this status.
          items:
            type: string
            format: uri
          example: []
        observation:
          $ref: '#/components/schemas/ConsolidatedStatusObservation'
    ConsolidatedStatusOccuredAt:
      type: object
      required:
        - localTZ
        - UTC
        - city
        - country
      description: |
        Timestamp information for when the status occurred.
        Includes both UTC and local timezone representations with location context.
      properties:
        localTZ:
          type: string
          format: date-time
          description: |
            Timestamp in local timezone with UTC offset.
            Format: ISO 8601 with timezone offset (e.g., -05:00 for Peru)
          example: '2025-12-05T14:30:00-05:00'
        UTC:
          type: string
          format: date-time
          description: |
            Timestamp in UTC timezone.
            Format: ISO 8601 with Z suffix
          example: '2025-12-05T19:30:00Z'
        city:
          type: string
          description: |
            City or state where status occurred.
            May fall back to country code if specific location unavailable.
          example: Lima
        country:
          type: string
          description: Two-letter ISO 3166-1 alpha-2 country code
          minLength: 2
          maxLength: 2
          example: PE
    ConsolidatedStatusObservation:
      description: |
        Additional observation information for status updates.
        Provides extra context or reasons for specific statuses.
      oneOf:
        - type: object
          required:
            - code
            - description
          properties:
            code:
              type: string
              description: Observation code identifier
              example: '5278'
            description:
              oneOf:
                - type: object
                  properties:
                    en:
                      type: string
                      description: English observation description
                      example: Package has non-standard shape
                    es:
                      type: string
                      description: Spanish observation description
                      example: El paquete tiene una forma no estándar
                  additionalProperties:
                    type: string
                    description: Additional language translations
                - type: 'null'
        - type: 'null'
    ConsolidatedError:
      type: object
      required:
        - key
        - value
      description: Error information for status-level errors or request-level errors
      properties:
        key:
          type: string
          description: |
            Error code identifier for programmatic error handling.
            Examples: MISSING_PARAMETERS, INVALID_TRACKING_NUMBER, CUSTOMS_DATA_NOT_FOUND
          example: INVALID_TRACKING_NUMBER
        value:
          type: string
          description: Human-readable error message describing what went wrong
          example: Invalid tracking number format
    ConsolidatedErrorResponse:
      type: object
      required:
        - traceParent
        - status
        - dateTime
        - errors
      description: Standard error response format for all error scenarios
      properties:
        traceParent:
          type: string
          description: |
            W3C Trace Context traceparent header value for distributed tracing.
            Empty string if traceparent not provided in request.
          pattern: '^(00-[0-9a-f]{32}-[0-9a-f]{16}-[0-9a-f]{2})?$'
          example: '00-0af7651916cd43dd8448eb211c80319c-b7ad6b7169203331-01'
        status:
          type: string
          description: |
            HTTP error status name.
            Standard values: BAD_REQUEST, ERROR, INTERNAL_SERVER_ERROR
          enum:
            - BAD_REQUEST
            - ERROR
            - INTERNAL_SERVER_ERROR
          example: BAD_REQUEST
        dateTime:
          type: string
          format: date-time
          description: |
            ISO 8601 timestamp when the error occurred.
            Format: ISO 8601 with milliseconds and timezone
          example: '2024-03-15T15:22:34.456Z'
        errors:
          type: array
          description: |
            Array of error details.
            May contain multiple errors if both customs and last-mile data are missing.
          items:
            $ref: '#/components/schemas/ConsolidatedError'
          minItems: 1
    PackageTrackingResponse:
      type: object
      deprecated: true
      description: |
        **DEPRECATED**: This schema is deprecated. Use ConsolidatedTrackingResponse instead.
        Legacy tracking response format - kept for backward compatibility.
      properties:
        trackingNumber:
          type: string
          description: Serhafen tracking number
          example: SH-PE-123456789
        partnerName:
          type: string
          description: Assigned partner name
          example: Dinet
        partnerTrackingNumber:
          type: string
          description: Partner tracking number
          example: DNT-PE-789456123
        clientId:
          $ref: '#/components/schemas/ClientId'
        destinationCountry:
          $ref: '#/components/schemas/CountryCode'
        shipTo:
          $ref: '#/components/schemas/ShipToAddress'
        uniqueReferences:
          type: array
          description: Custom references
          items:
            $ref: '#/components/schemas/UniqueReference'
        isActive:
          type: boolean
          description: Whether shipment is still in transit
          example: true
        lastUpdatedAt:
          type: string
          format: date-time
          description: Last status update timestamp
          example: '2026-02-09T16:45:00Z'
        status:
          type: array
          description: Complete status history (chronological order)
          items:
            $ref: '#/components/schemas/StatusUpdate'
        executorUpdates:
          type: array
          description: Raw executor status updates (if detailedExecInfo=true)
          items:
            $ref: '#/components/schemas/ExecutorStatusUpdate'
    PackageStatusUpdate:
      type: object
      required:
        - tracking_number
        - status_id
        - status_name
        - status_date
      properties:
        identifier:
          type: integer
          description: Shipment identifier (optional)
          example: 1
        order_number:
          type: string
          description: Order number
          example: '9181875522'
        tracking_number:
          type: string
          description: Serhafen tracking number
          example: SH-PE-123456789
        carrier_tracking_number:
          type: string
          description: Partner tracking number
          example: DNT-PE-789456123
        carrier_name:
          type: string
          description: Carrier/partner name
          example: Dinet
        carrier_code:
          type: string
          description: Carrier code
          example: DNT
        dead_line_date:
          type: string
          format: date-time
          description: Delivery deadline
          example: '2026-02-10T18:00:00Z'
        status_id:
          type: string
          description: Partner-specific status code (REQUIRED)
          example: DNT-100
        status_name:
          type: string
          description: Human-readable status description
          example: En ruta de entrega
        status_information:
          type: string
          description: Additional status details
          example: Paquete en camión de reparto
        status_date:
          type: string
          description: Status timestamp (format yyyy-MM-dd HH:mm:ss)
          example: '2026-02-09 16:00:00'
        tracking_url:
          type: array
          items:
            type: string
            format: uri
          description: |
            Collection of tracking evidence URLs (images). 

            This field accepts an array of URLs pointing to tracking evidence such as:
            - Delivery proof photos
            - Package condition images
            - Recipient signature images
            - Location verification photos
            - Tracking documents/receipts

            **Important Notes:**
            - All URLs must be valid HTTP/HTTPS URLs
            - Empty strings and whitespace-only values will be filtered out
            - Images should be publicly accessible or use pre-signed URLs
            - Supported formats: JPG, PNG

            **Examples:**
            - Delivery photo: `https://partner.com/evidence/delivery-123.jpg`
            - Signature: `https://partner.com/evidence/signature-123.jpg`
            - Package photo: `https://partner.com/evidence/package-123.png`
          example:
            - https://tracking.dinet.pe/evidence/delivery-photo.jpg
            - https://tracking.dinet.pe/evidence/signature.jpg
    NotificationAcceptedResponse:
      type: object
      required:
        - status
        - requestId
      properties:
        status:
          type: string
          description: Processing status of the order snapshot request
          enum:
            - ACCEPTED
            - PROCESSING
            - COMPLETED
        requestId:
          type: string
          description: Unique identifier for the request
          examples:
            - REQ0001
            - REQ0002
    OrderSnapshotAcceptedResponse:
      type: object
      required:
        - status
        - requestId
      properties:
        status:
          type: string
          description: Processing status of the order snapshot request
          enum:
            - ACCEPTED
            - PROCESSING
            - COMPLETED
        requestId:
          type: string
          description: Unique identifier for the request
          examples:
            - REQ0001
            - REQ0002
    SellerProfileAcceptedResponse:
      type: object
      required:
        - status
        - requestId
      properties:
        status:
          type: string
          description: Processing status of the seller profile request
          enum:
            - ACCEPTED
            - PROCESSING
            - COMPLETED
        requestId:
          type: string
          description: Unique identifier for the request
          examples:
            - REQ0001
            - REQ0002
    WaybillAcceptedResponse:
      type: object
      required:
        - status
        - requestId
      properties:
        status:
          type: string
          description: Processing status of the waybill request
          enum:
            - ACCEPTED
            - PROCESSING
            - COMPLETED
        requestId:
          type: string
          description: Unique identifier for the request
          examples:
            - REQ0001
            - REQ0002
    NotificationRequestBody:
      type: object
      required:
        - channelInfo
        - stencilId
        - channelDataModel
        - meta
      properties:
        contextId:
          type: string
          description: Unique identifier for the request context.
        stencilId:
          type: string
          description: Identifier for the notification stencil/template.
          enum:
            - LOGIN_OTP
        channelInfo:
          $ref: '#/components/schemas/ChannelInfo'
        channelDataModel:
          oneOf:
            - $ref: '#/components/schemas/EmailLoginOtpDataModel'
          discriminator:
            propertyName: stencilId
            mapping:
              LOGIN_OTP: '#/components/schemas/EmailLoginOtpDataModel'
        meta:
          $ref: '#/components/schemas/NotificationMeta'
    OrderSnapshotRequestBody:
      type: object
      properties:
        eventDateTime:
          type: integer
          description: Unix timestamp of the event
          examples:
            - 1701369600
        orderId:
          type: string
          description: Unique identifier for the order. Identifier provided by Serhafen.
          examples:
            - ORD123456789
        version:
          type: integer
          description: Version of the order snapshot, will help us to avoid processing older snapshots. If a snapshot with a lower version is received, it will be ignored. And if the version at system is not version - 1, we need to trigger an alert, and process the snapshot.
          examples:
            - 1
        orderItems:
          type: array
          description: List of items included in the order
          items:
            $ref: '#/components/schemas/OrderItem'
        choreRequests:
          type: array
          description: List of chore requests associated with the order (cancellations, returns, etc.). We need to consider empty array if choreRequests field does not exist in the request.
          items:
            $ref: '#/components/schemas/ChoreRequest'
        remarks:
          type: string
          description: Additional remarks or notes about the order
      required:
        - eventDateTime
        - orderId
        - version
        - orderItems
        - choreRequests
        - remarks
    CreateSellerRequestBody:
      type: object
      properties:
        actionType:
          type: string
          description: Type of action being performed on the seller profile
          examples:
            - CREATE
            - UPDATE
        sellerId:
          type: string
          description: Unique identifier for the seller
          examples:
            - SELLER001
            - SELLER002
        email:
          type: string
          format: email
          description: Email address of the seller
          examples:
            - seller@example.com
        phone:
          type: string
          description: Phone number of the seller
          examples:
            - '+1234567890'
        displayName:
          type: string
          description: Display name for the seller profile
          examples:
            - ABC Trading Co.
        description:
          type: string
          description: Description of the seller or business
          examples:
            - Premium electronics retailer
        sellerName:
          type: string
          description: Official name of the seller
          examples:
            - ABC Trading Company Ltd
        status:
          type: string
          description: Current status of the seller profile
          enum:
            - ACCEPTED
            - ACTIVE
            - INACTIVE
            - PENDING
            - SUSPENDED
          examples:
            - ACTIVE
        businessDetails:
          $ref: '#/components/schemas/BusinessDetails'
        bankDetails:
          $ref: '#/components/schemas/BankDetails'
        createdAt:
          type: string
          description: Timestamp when the seller profile was created
          examples:
            - '1709287800'
        updatedAt:
          type: string
          description: Timestamp when the seller profile was last updated
          examples:
            - '1709460000'
      required:
        - actionType
        - sellerId
        - email
        - phone
        - displayName
        - description
        - sellerName
        - status
        - businessDetails
        - bankDetails
        - createdAt
        - updatedAt
    WaybillRequestBody:
      type: object
      properties:
        shipmentId:
          type: string
          description: Unique identifier for the shipment
          examples:
            - SHIP123456789
        senderDetails:
          $ref: '#/components/schemas/SenderDetails'
        receiverDetails:
          $ref: '#/components/schemas/ReceiverDetails'
        orderDetails:
          $ref: '#/components/schemas/OrderDetails'
        parcelDetails:
          $ref: '#/components/schemas/ParcelDetails'
      required:
        - shipmentId
        - senderDetails
        - receiverDetails
        - orderDetails
        - parcelDetails
    M2MTokenData:
      type: object
      required:
        - accessToken
        - type
        - expiryTimeInMinutes
      properties:
        accessToken:
          type: string
          description: JWT access token for service-to-service authentication.
          example: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9...
        type:
          type: string
          description: Type of the token.
          example: Bearer
        expiryTimeInMinutes:
          type: integer
          description: Expiration time of the access token in minutes.
          example: 60
    ValidationErrorDetail:
      type: object
      required:
        - field
        - error
        - code
      properties:
        field:
          type: string
          description: Field name that failed validation
          example: email
        error:
          type: string
          description: Human-readable error message
          example: Email must be a valid email address
        code:
          type: string
          description: Machine-readable error code
          example: INVALID_FORMAT
    UnauthorizedErrorData:
      type: object
      properties:
        code:
          type: number
          example: UNAUTHORIZED
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetail'
    Address:
      type: object
      required:
        - region
        - province
        - comuna
        - locality
      properties:
        region:
          type: string
          description: Region or state
          example: Callao
        province:
          type: string
          description: Province
          example: Callao
        comuna:
          type: string
          description: District or comuna
          example: Cercado
        locality:
          type: string
          description: Street address and details
          example: Av. Colonial, Warehouse 5, Gate B
        district:
          type: string
          description: District (alternative to comuna)
          example: Cercado
        zipCode:
          type: string
          description: Postal/ZIP code
          example: '07001'
        latitude:
          type: number
          format: double
          description: GPS latitude coordinate
          example: -12.0464
        longitude:
          type: number
          format: double
          description: GPS longitude coordinate
          example: -77.0428
        phone:
          type: string
          description: Contact phone number
          example: '+5112345678'
    ConsigneeInfo:
      type: object
      required:
        - name
        - address
        - city
        - country
        - department
        - province
        - district
        - zipCode
        - email
        - phone
        - identificationType
        - identificationNumber
      properties:
        name:
          type: string
          maxLength: 255
          example: Juan Pérez García
        address:
          type: string
          description: Full address of the consignee
          maxLength: 1000
          example: Calle Mercaderes 123, Cercado, Arequipa
        city:
          type: string
          maxLength: 100
          example: Arequipa
        country:
          type: string
          minLength: 2
          maxLength: 2
          pattern: ^[A-Z]{2}$
          example: PE
        department:
          type: string
          description: Peruvian department (Departamento)
          maxLength: 100
          example: Arequipa
        province:
          type: string
          description: Peruvian province (Provincia)
          maxLength: 100
          example: Arequipa
        district:
          type: string
          description: Peruvian district (Distrito)
          maxLength: 100
          example: Cercado
        zipCode:
          type: string
          maxLength: 20
          example: '04001'
        street:
          type: string
          maxLength: 500
          example: Calle Mercaderes 123
        email:
          type: string
          format: email
          maxLength: 255
          example: juan.perez@example.com
        phone:
          type: string
          maxLength: 50
          example: '+51987654321'
        identificationType:
          type: string
          description: Type of identification document. DNI is standard for Peruvian nationals.
          enum:
            - DNI
            - PASSPORT
            - NATIONAL_ID
            - DRIVER_LICENSE
            - CE
          example: DNI
        identificationNumber:
          type: string
          description: Identification number (e.g. DNI 8 digits)
          maxLength: 100
          example: '12345678'
        uniqueReferences:
          type: array
          items:
            $ref: '#/components/schemas/UniqueReference'
    Package:
      type: object
      required:
        - trackingNumber
        - weight
        - weightUom
        - contentType
      properties:
        trackingNumber:
          type: string
          description: Serhafen tracking number
          example: SH-PE-123456789
          pattern: ^SH-[A-Z]{2}-[0-9]{9,}$
        clientTrackingNumber:
          type: string
          description: Client's reference number
          example: AE-ORDER-001
        dimensions:
          $ref: '#/components/schemas/Dimensions'
        weight:
          type: number
          format: double
          description: Package weight
          example: 2.5
          minimum: 0.01
        weightUom:
          $ref: '#/components/schemas/WeightUOM'
        contentType:
          $ref: '#/components/schemas/ContentType'
        numberOfPieces:
          type: integer
          description: Number of pieces in package
          example: 1
          minimum: 1
        contentDetails:
          type: array
          description: List of items in package (minimum 1 if provided)
          items:
            $ref: '#/components/schemas/PackageContentDetails'
          minItems: 1
        uniqueReferences:
          type: array
          description: Package-specific unique references
          items:
            $ref: '#/components/schemas/UniqueReference'
        logisticsOperator:
          type: string
          description: Preferred logistics partner (optional)
          example: DNT
        packageValue:
          type: number
          format: double
          description: Total declared value
          example: 25
          minimum: 0
        packageValueCurrency:
          type: string
          description: Currency code (ISO 4217)
          example: USD
          pattern: ^[A-Z]{3}$
        orderDate:
          type: string
          format: date-time
          description: Order date (ISO 8601)
          example: '2026-02-09T00:00:00Z'
        status:
          type: object
          description: Package status information (optional)
          properties:
            statusId:
              type: integer
              example: 1
            statusName:
              type: string
              example: INITIATED
            statusInformation:
              type: string
              example: Package created
            statusDate:
              type: string
              format: date-time
              example: '2026-02-09T10:30:00Z'
            trackingUrl:
              type: string
              format: uri
              example: https://tracking.partner.com/track/123
        trackingUrl:
          type: string
          format: uri
          description: Tracking URL
          example: https://tracking.partner.com/track/123
        logisticsOrderCode:
          type: string
          description: Logistics order code
          example: LP00123456789
        masterAwbNo:
          type: string
          description: Master AWB number (package level)
          example: AWB-PE-20260209-001
        latestStatusOccurredAt:
          type: string
          format: date-time
          description: Latest status timestamp
          example: '2026-02-09T10:30:00Z'
    UniqueReference:
      type: object
      properties:
        key:
          type: string
        value:
          type: string
    PackageResponse:
      type: object
      properties:
        packageId:
          type: string
          format: uuid
          description: Internal package ID
          example: 660e8400-e29b-41d4-a716-446655440001
        trackingNumber:
          type: string
          description: Serhafen tracking number
          example: SH-PE-123456789
        clientTrackingNumber:
          type: string
          description: Client reference number
          example: AE-ORDER-001
        partnerTrackingNumber:
          type: string
          nullable: true
          description: Partner tracking number (assigned asynchronously)
          example: DNT-PE-789456123
        latestStatus:
          type: string
          description: Current status name
          example: LM_SHIPMENT_INITIATED
        canonicalStatusCode:
          type: string
          description: Internal canonical status code (for Serhafen use only)
          example: '8000'
          deprecated: true
          x-internal: true
        latestStatusOccurredAt:
          type: string
          format: date-time
          description: Latest status timestamp
          example: '2026-02-09T10:30:00Z'
        executorName:
          type: string
          nullable: true
          description: Assigned executor/partner
          example: DNT
          enum:
            - ENVIAME
            - IP
            - DNT
            - SAVAR
            - URP
        partnerName:
          type: string
          nullable: true
          description: Partner name
          example: Dinet
        weight:
          type: number
          format: double
          example: 2.5
        weightUom:
          $ref: '#/components/schemas/WeightUOM'
        dimensions:
          $ref: '#/components/schemas/Dimensions'
    ShipmentMovementType:
      type: string
      enum:
        - LM_SHIPMENT_CREATION
        - LM_READY_FOR_PICKUP
        - LM_DEPARTED_SH_PM_ZONE
        - LM_SHIPMENT_CANCELLATION
      description: |
        Type of shipment movement/action:
        - `LM_SHIPMENT_CREATION`: Initial shipment creation
        - `LM_READY_FOR_PICKUP`: Package ready for carrier pickup
        - `LM_DEPARTED_SH_PM_ZONE`: Package handed to carrier
        - `LM_SHIPMENT_CANCELLATION`: Cancel shipment
      example: LM_READY_FOR_PICKUP
    ErrorObject:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          example: ERROR_CODE
        message:
          type: string
          example: ERROR_MESSAGE
        details:
          type: object
          properties:
            field:
              type: string
              example: ERROR_FIELD
            error:
              type: string
              example: ERROR_MESSAGE
            code:
              type: string
              example: ERROR_CODE
          required:
            - field
            - error
            - code
    ShipToAddress:
      type: object
      properties:
        province:
          type: string
          example: Arequipa
        city:
          type: string
          example: Arequipa
        district:
          type: string
          example: Cercado
    StatusUpdate:
      type: object
      properties:
        code:
          type: string
          description: Internal canonical status code (for Serhafen use only, clients should use 'name' and 'stage')
          example: '8015'
          deprecated: true
          x-internal: true
        name:
          type: string
          description: Human-readable status name
          example: CUSTOMS_CLEARED
        statusDate:
          type: string
          format: date-time
          description: Status timestamp
          example: '2026-02-09T14:00:00Z'
        location:
          type: string
          description: Location where status occurred
          example: Callao Customs, Peru
        stage:
          $ref: '#/components/schemas/StatusStage'
        recipientName:
          type: string
          description: Recipient name (for delivered status)
          example: Juan Pérez
        remarks:
          type: string
          description: Additional status information
          example: Package cleared customs successfully
    ExecutorStatusUpdate:
      type: object
      properties:
        executorStatusCode:
          type: string
          description: Partner-specific status code
          example: DNT-100
        executorStatusName:
          type: string
          description: Partner status description
          example: En ruta de entrega
        statusDate:
          type: string
          format: date-time
          description: Status timestamp
          example: '2026-02-09T16:00:00Z'
        remarks:
          type: string
          description: Additional details
          example: Paquete en camión de reparto
        location:
          type: string
          description: Location
          example: Arequipa Distribution Center
    ChannelInfo:
      type: object
      required:
        - type
        - from
        - to
      properties:
        type:
          type: string
          enum:
            - EMAIL
        to:
          type: array
          items:
            $ref: '#/components/schemas/Recipient'
        from:
          $ref: '#/components/schemas/Recipient'
    EmailLoginOtpDataModel:
      type: object
      description: Data model for LOGIN_OTP stencil when using EMAIL channel.
      required:
        - otp
        - time
      properties:
        otp:
          type: string
          description: One-time password to be sent.
          examples:
            - '123456'
        time:
          type: string
          description: Time validity for the OTP.
          examples:
            - 10 minutes
    NotificationMeta:
      type: object
      required:
        - otpGeneratedTime
        - userRequestTime
      properties:
        otpGeneratedTime:
          type: integer
          examples:
            - 1633024800
          format: long
        userRequestTime:
          type: integer
          examples:
            - 1633024860
          format: long
    OrderItem:
      type: object
      properties:
        orderItemId:
          type: string
          description: Unique identifier for the order item. Identifier provided by Serhafen, Seller order line item
        status:
          type: array
          description: List of status entries for this order item, tracking its progression through the fulfillment process
          items:
            $ref: '#/components/schemas/ItemStatus'
      required:
        - orderItemId
        - status
    ChoreRequest:
      type: object
      properties:
        type:
          type: string
          description: Type of chore request being made
          enum:
            - CANCEL
            - RETURN_COMPLETE_NOTIFY
        choreRequestId:
          type: string
          description: Unique identifier of the request
        flowType:
          type: string
          description: Origin of the chore request (customer-initiated or seller-initiated)
          enum:
            - CUSTOMER_CANCEL
            - CUSTOMER_RETURN
            - SELLER_CANCEL
        orderItems:
          type: array
          description: List of order items affected by this chore request
          items:
            $ref: '#/components/schemas/OrderItem'
      required:
        - type
        - choreRequestId
        - flowType
        - orderItems
    BusinessDetails:
      type: object
      properties:
        directorName:
          type: string
          description: Full name of the business director
          examples:
            - John Smith
        directorMail:
          type: string
          format: email
          description: Email address of the business director
          examples:
            - john.smith@example.com
        directorMobile:
          type: string
          description: Mobile phone number of the business director
          examples:
            - '+1234567890'
        businessType:
          type: string
          description: Type of business entity
          examples:
            - LIMITED_LIABILITY
            - SOLE_PROPRIETOR
            - PARTNERSHIP
        businessRegistration:
          type: string
          description: Business registration number
          examples:
            - REG123456789
        applicantId:
          type: string
          description: Unique identifier for the applicant
          examples:
            - APP001
        vatTaxIdentifier:
          type: string
          description: VAT or tax identification number
          examples:
            - VAT123456789
        businessName:
          type: string
          description: Registered name of the business
          examples:
            - ABC Trading Company Limited
        address:
          $ref: '#/components/schemas/Address'
      required:
        - directorName
        - directorMail
        - directorMobile
        - businessType
        - businessRegistration
        - applicantId
        - vatTaxIdentifier
        - businessName
        - address
    BankDetails:
      type: object
      properties:
        accountNumber:
          type: string
          description: Bank account number
          examples:
            - '1234567890'
        branchCode:
          type: string
          description: Bank branch code or routing number
          examples:
            - BRANCH001
            - '021000021'
        bankName:
          type: string
          description: Name of the bank
          examples:
            - First National Bank
        accountType:
          type: string
          description: Type of bank account
          enum:
            - SAVINGS
            - CHECKING
            - BUSINESS
          examples:
            - BUSINESS
            - CHECKING
        accountHolderName:
          type: string
          description: Name of the account holder
          examples:
            - ABC Trading Company Limited
      required:
        - accountNumber
        - branchCode
        - bankName
        - accountType
        - accountHolderName
    SenderDetails:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the sender
          examples:
            - SENDER001
        locationId:
          type: string
          description: Location identifier for the sender's address
          examples:
            - LOC001
      required:
        - id
        - locationId
        - collectionDetails
    ReceiverDetails:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the receiver
          examples:
            - RECEIVER001
        locationId:
          type: string
          description: Location identifier for the receiver's address
          examples:
            - LOC002
      required:
        - id
        - locationId
    OrderDetails:
      type: object
      properties:
        orderId:
          type: string
          description: Unique identifier for the order associated with this shipment
          examples:
            - ORD123456789
        items:
          type: array
          description: List of items included in the shipment
          items:
            $ref: '#/components/schemas/ShipmentItem'
      required:
        - orderId
        - items
    ParcelDetails:
      type: object
      properties:
        quantity:
          type: integer
          description: Total number of parcels in the shipment
          minimum: 1
          examples:
            - 3
        totalWeight:
          type: number
          description: Total weight of all parcels in kilograms
          minimum: 0
          examples:
            - 15.5
            - 22.3
        totalVolume:
          type: number
          description: Total volume of all parcels in cubic meters
          minimum: 0
          examples:
            - 0.5
            - 1.2
        parcels:
          type: array
          description: List of individual parcels in the shipment
          items:
            $ref: '#/components/schemas/Parcel'
      required:
        - quantity
        - totalWeight
        - totalVolume
        - parcels
    ErrorDetail:
      type: object
      required:
        - field
        - error
        - code
      properties:
        field:
          type: string
          description: Field or system component that caused the error
          example: keycloak
        error:
          type: string
          description: Human-readable error message
          example: Connection to Keycloak failed
        code:
          type: string
          description: Machine-readable error code
          example: CONNECTION_ERROR
    Dimensions:
      type: object
      required:
        - length
        - lengthUom
        - width
        - widthUom
        - height
        - heightUom
      properties:
        length:
          type: number
          format: double
          description: Package length
          example: 30
          minimum: 0.1
        lengthUom:
          $ref: '#/components/schemas/LengthUOM'
        width:
          type: number
          format: double
          description: Package width
          example: 20
          minimum: 0.1
        widthUom:
          $ref: '#/components/schemas/LengthUOM'
        height:
          type: number
          format: double
          description: Package height
          example: 15
          minimum: 0.1
        heightUom:
          $ref: '#/components/schemas/LengthUOM'
    WeightUOM:
      type: string
      enum:
        - KG
        - LB
        - G
      description: Weight unit of measure
      example: KG
    ContentType:
      type: string
      enum:
        - BOX
        - DRY_FOOD
        - REFRIGERATED_FOOD
        - FROZEN_FOOD
        - DANGEROUS_MATERIALS
      description: Type of content in package
      example: BOX
    PackageContentDetails:
      type: object
      properties:
        productId:
          type: string
          description: Product SKU or ID
          example: SKU-12345
        productDescription:
          type: string
          description: Description of product
          example: Smartphone Protective Case
          maxLength: 500
        contentType:
          $ref: '#/components/schemas/ContentType'
        hsCode:
          type: string
          description: Harmonized System code for customs
          example: 3926.90.90
          pattern: ^\d{4}\.\d{2}\.\d{2}$
        productValue:
          type: number
          format: double
          description: Unit value of product
          example: 25
          minimum: 0
        productValueCurrency:
          type: string
          description: Currency code (ISO 4217)
          example: USD
          pattern: ^[A-Z]{3}$
        barcode:
          type: string
          description: Product barcode
          example: '1234567890123'
        category:
          type: string
          description: Product category
          example: Electronics Accessories
    StatusStage:
      type: string
      enum:
        - INITIATED
        - IN_TRANSIT
        - OUT_FOR_DELIVERY
        - DELIVERED
        - EXCEPTION
        - RETURNED
      description: High-level shipment stage
      example: IN_TRANSIT
    Recipient:
      type: object
      properties:
        name:
          type: string
          description: Name of the recipient.
          examples:
            - John Doe
        address:
          type: string
          description: Contact address - email, phone number, or WhatsApp number depending on channel type.
          examples:
            - john.doe@example.com
    ItemStatus:
      type: object
      properties:
        status:
          type: string
          description: Current status of the order item in the fulfillment lifecycle
          enum:
            - APPROVED
            - RESERVED
            - READY_TO_SHIP
            - SHIPPED
            - OUT_FOR_DELIVERY
            - DELIVERED
            - CANCELLED
        quantity:
          type: integer
          description: Number of items in this status
          minimum: 1
          examples:
            - 2
            - 4
        trackingId:
          type: string
          description: Tracking identifier for shipment
          examples:
            - SH00123456789
      required:
        - status
        - quantity
    ShipmentItem:
      type: object
      properties:
        itemId:
          type: string
          description: Unique identifier for the item
          examples:
            - ITEM001
        quantity:
          type: integer
          description: Number of units of this item in the shipment
          minimum: 1
          examples:
            - 2
            - 5
      required:
        - itemId
        - quantity
    Parcel:
      type: object
      required:
        - IOSSNo
        - goodsList
      properties:
        weight:
          oneOf:
            - type: string
            - type: number
          description: '**[OPTIONAL]** Weight'
        weightUnit:
          type: string
          description: '**[OPTIONAL]** Weight unit'
        suggestedWeight:
          oneOf:
            - type: string
            - type: number
          description: '**[OPTIONAL]** Suggested weight'
        price:
          oneOf:
            - type: string
            - type: number
          description: '**[OPTIONAL]** Price'
        priceUnit:
          type: string
          description: '**[OPTIONAL]** Price unit'
        priceCurrency:
          type: string
          description: '**[OPTIONAL]** Currency code'
        length:
          oneOf:
            - type: string
            - type: number
          description: '**[OPTIONAL]** Length'
        width:
          oneOf:
            - type: string
            - type: number
          description: '**[OPTIONAL]** Width'
        height:
          oneOf:
            - type: string
            - type: number
          description: '**[OPTIONAL]** Height'
        size:
          type: string
          description: '**[OPTIONAL]** Size description'
        volume:
          oneOf:
            - type: string
            - type: number
          description: '**[OPTIONAL]** Volume'
        volumeUnit:
          type: string
          description: '**[OPTIONAL]** Volume unit'
        parcelQuantity:
          oneOf:
            - type: string
            - type: number
          description: '**[OPTIONAL]** Parcel quantity'
        splitNum:
          oneOf:
            - type: string
            - type: number
          description: '**[OPTIONAL]** Split number'
        masterID:
          type: string
          description: '**[OPTIONAL]** Master ID'
        bigBagID:
          type: string
          description: '**[OPTIONAL]** Big bag ID'
        bigBagWeight:
          oneOf:
            - type: string
            - type: number
          description: '**[OPTIONAL]** Big bag weight'
        bigBagWeightUnit:
          type: string
          description: '**[OPTIONAL]** Big bag weight unit'
        asnID:
          type: string
          description: '**[OPTIONAL]** ASN ID'
        IOSSNo:
          type: string
          description: '**[REQUIRED]** IOSS registration number'
        dimensionUnit:
          type: string
          description: '**[OPTIONAL]** Dimension unit'
        goodsList:
          type: array
          items:
            $ref: '#/components/schemas/GoodsItem'
          description: '**[REQUIRED]** List of goods'
    LengthUOM:
      type: string
      enum:
        - cm
        - in
        - mm
      description: Length unit of measure
      example: cm
    GoodsItem:
      type: object
      properties:
        productID:
          type: string
          description: '**[OPTIONAL]** Product ID'
        skuID:
          type: string
          description: '**[OPTIONAL]** SKU ID'
        name:
          type: string
          description: '**[OPTIONAL]** Product name'
        cnName:
          type: string
          description: '**[OPTIONAL]** Chinese name'
        suggestedENName:
          type: string
          description: '**[OPTIONAL]** Suggested English name'
        suggestedCNName:
          type: string
          description: '**[OPTIONAL]** Suggested Chinese name'
        quantity:
          oneOf:
            - type: string
            - type: number
          description: '**[OPTIONAL]** Quantity (string or number)'
        weight:
          oneOf:
            - type: string
            - type: number
          description: '**[OPTIONAL]** Weight (string or number)'
        weightUnit:
          type: string
          description: '**[OPTIONAL]** Weight unit (e.g., ''g'', ''kg'')'
        priceUnit:
          type: string
          description: '**[OPTIONAL]** Price unit (e.g., ''CENT'', ''USD'')'
        priceCurrency:
          type: string
          description: '**[OPTIONAL]** Currency code'
        hsCode:
          type: string
          description: '**[OPTIONAL]** HS code for customs'
        categoryID:
          type: string
          description: '**[OPTIONAL]** Category ID'
        categoryName:
          type: string
          description: '**[OPTIONAL]** Category name'
        categoryCNName:
          type: string
          description: '**[OPTIONAL]** Chinese category name'
        categoryFeature:
          type: string
          description: '**[OPTIONAL]** Category feature'
        productCategory:
          type: string
          description: '**[OPTIONAL]** Product category'
        declarePrice:
          type: string
          description: '**[OPTIONAL]** Declared price'
        duty:
          type: string
          description: '**[OPTIONAL]** Duty amount'
        url:
          type: string
          description: '**[OPTIONAL]** Product URL'
        itemDeclarePrice:
          type: string
          description: '**[OPTIONAL]** Item declared price'
        itemDuty:
          type: string
          description: '**[OPTIONAL]** Item duty'
        extension:
          type: string
          description: '**[OPTIONAL]** Extension data (JSON string)'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API key for authentication
    ExecutorAuth:
      type: apiKey
      in: header
      name: executor-name
      description: Executor name for partner webhooks (DNT, SAVAR, ENVIAME, IP, URP)
  responses:
    NotificationSuccess:
      description: Notification sent successfully.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NotificationAcceptedResponse'
    ValidationError:
      description: Invalid request or missing parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Unauthorized - Missing or invalid API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            statusCode: 401
            message: Unauthorized - Invalid or missing API key
            error: Unauthorized
    ServerError:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    OrderSnapshotAccepted:
      description: Order snapshot accepted for processing.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OrderSnapshotAcceptedResponse'
    SellerProfileAccepted:
      description: Seller profile accepted for processing.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SellerProfileAcceptedResponse'
    WaybillAccepted:
      description: Waybill accepted for processing.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WaybillAcceptedResponse'
    BadRequest:
      description: Bad Request - Invalid input data
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            statusCode: 400
            message: Validation failed
            error: Bad Request
            details:
              - path:
                  - destinationCountry
                message: 'Must be one of: CL, PE, AR, US'
    InternalServerError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            statusCode: 500
            message: An unexpected error occurred
            error: Internal Server Error
  requestBodies:
    NotificationRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NotificationRequestBody'
    OrderSnapshotRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OrderSnapshotRequestBody'
    CreateSellerDraft:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateSellerRequestBody'
    WaybillRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WaybillRequestBody'
  parameters:
    Authorization:
      name: Authorization
      in: header
      required: true
      description: Bearer token for authentication.
      schema:
        type: string
        pattern: ^Bearer\s[a-zA-Z0-9\-._~+/]+=*$
        example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
    ContentType:
      name: Content-Type
      in: header
      required: true
      description: Content type of the request body.
      schema:
        type: string
        enum:
          - application/json
    TraceParent:
      name: traceparent
      in: header
      required: true
      description: Traceparent header for distributed tracing.
      schema:
        type: string
        pattern: ^00-[0-9a-f]{32}-[0-9a-f]{16}-[0-9a-f]{2}$
        example: 00-4bf92f3577b34da6a3ce929d0e0e4736-00f067aa0ba902b7-01
    CaseStyle:
      name: X-Case-Style
      in: header
      required: false
      description: Preferred property naming convention for the response. Use 'camel' for camelCase or 'snake' for snake_case. Defaults to camelCase if not specified.
      schema:
        type: string
        enum:
          - camel
          - snake
        default: camel
        examples:
          - camel
          - snake
    XTraceIdHeader:
      name: X-Trace-Id
      in: header
      required: false
      description: Unique trace identifier for distributed tracing
      schema:
        type: string
        pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
        example: 550e8400-e29b-41d4-a716-446655440000
    XSpanIdHeader:
      name: X-Span-Id
      in: header
      required: false
      description: Unique span identifier for distributed tracing
      schema:
        type: string
        pattern: ^[0-9a-f]{16}$
        example: 1234567890abcdef
    TraceparentHeader:
      name: traceparent
      in: header
      required: false
      description: W3C Trace Context traceparent header for distributed tracing
      schema:
        type: string
        pattern: ^[0-9a-f]{2}-[0-9a-f]{32}-[0-9a-f]{16}-[0-9a-f]{2}$
        example: 00-4bf92f3577b34da6a3ce929d0e0e4736-00f067aa0ba902b7-01
    XClientCodeHeader:
      name: x-client-code
      in: header
      required: true
      description: Client identifier for authentication and routing
      schema:
        type: string
        pattern: ^[A-Z]{2,10}$
        example: CLX
    AuthorizationHeader:
      name: Authorization
      in: header
      required: true
      description: Authorization header containing bearer token
      schema:
        type: string
        example: Bearer <token>
    XClientSecretHeader:
      name: x-client-secret
      in: header
      required: false
      description: Client secret for authentication
      schema:
        type: string
        example: client_secret_12345
tags:
  - name: Auth
    description: Auth operations
  - name: Shipments
    description: Shipments operations
  - name: ASN Integration
    description: ASN Integration operations
  - name: Partner Integration
    description: Partner Integration operations
security:
  - ApiKeyAuth: []
