openapi: 3.1.0
info:
  title: Temu Pre-Alert API
  version: 1.0.0
  description: |
    # Temu Pre-Alert API – Peru & Chile

    This API is used by **Temu** to submit pre-alert declarations for shipments to **Peru** and **Chile**. Unlike the generic pre-alert flow, Temu sends a **single combined payload** that includes both manifest (MAWB) and parcel (HAWB) details in one request.
    ## Authentication

    All API requests require authentication using a Basic Auth token obtained from our IAM service.

    ### Obtaining an Access Token

    Before using the Temu Pre-Alert API, you must obtain a Basic Auth token via the machine-to-machine (M2M) authentication endpoint.

    **Token Endpoint:**
    ```
    POST https://api.serhafen-staging.andinolabs.tech/iam-service/v0/auth/m2m/token
    ```
    **Request Example:**
    ```bash
    curl -X POST "https://api.serhafen-staging.andinolabs.tech/iam-service/v0/auth/m2m/token" \
      -H "Content-Type: application/json" \
      -d '{
        "clientId": "your-client-id",
        "clientSecret": "your-client-secret"
      }' | jq .
    ```

    **Response:**
    The endpoint returns a JSON object containing an access token, which you will use as the authorization token in subsequent API requests.

    ### Using the Access Token

    Once you have obtained the token, include it in all Temu Pre-Alert API requests:

    - **Authorization header** (required): Token obtained from the IAM service.

    Authentication failures will result in an HTTP `401 Unauthorized` response.

    ## Idempotency and Duplicate Prevention

    To ensure data integrity and prevent duplicate submissions:

    - **Unique hawbTrackingId**: Each parcel declaration must use a unique `hawbTrackingId`. This identifier serves as the idempotency key for parcel submissions.
    - **Unique mawbManifestNumber**: Each manifest must have a unique `mawbManifestNumber` to prevent duplicate manifest processing.
    - **Duplicate detection**: The API automatically detects and may reject duplicate declarations with the same tracking identifiers.

    Duplicate submissions may be rejected with an HTTP `400 Bad Request` response or silently ignored depending on the processing state.

    ## Call Flow (Temu-Specific)

    Temu uses **one call per country** — no separate parcel-then-manifest order:

    - **Peru:** `POST /temu/pe` — Send the full manifest + parcel payload for Peru.
    - **Chile:** `POST /temu/cl` — Send the full manifest + parcel payload for Chile.

    ## Processing Workflow

    When a declaration is submitted, the API executes the following stages:

    1. **Synchronous Validation**: The API authenticates the client credentials, validates the JSON structure against the OpenAPI schema, and verifies all mandatory header and payload fields are present and correctly formatted.
    2. **Secure Storage**: The complete payload is persisted securely to our data vault. At this stage, the API returns an HTTP `200 OK` or `202 Accepted` response to acknowledge receipt and close the connection promptly.
    3. **Asynchronous Processing**: The backend system independently processes the stored manifest, unpacks individual parcels, and routes them for last-mile integration and customs clearance without blocking the client connection.

    ## Environments and base URLs

    | Environment   | Base URL                                    | Use case                    |
    |---------------|---------------------------------------------|-----------------------------|
    | **Production**| `https://api.serhafen-net.andinolabs.tech/pre-alert` | Live Temu declarations      |
    | **Staging**   | `https://api.serhafen-staging.andinolabs.tech/pre-alert`       | Testing and integration     |
    | **Local**     | `/pre-alert` (relative to your host)          | Development only            |
  contact:
    name: Platform Support
    email: platform-support@serhafen.com
servers:
  - url: https://api.serhafen-net.andinolabs.tech/pre-alert
    description: Production – use for live Temu declarations
  - url: https://api.serhafen-staging.andinolabs.tech/pre-alert
    description: Staging – use for testing and integration
  - url: /pre-alert
    description: Local/Development
tags:
  - name: Temu
    description: Temu pre-alert declaration endpoints
paths:
  /temu/cl:
    post:
      tags:
        - Temu
      operationId: insertTemuPreAlertChile
      summary: Temu Chile Declaration (Manifest + Parcels)
      x-public: true
      x-audience: temu
      x-category: Temu
      description: |
        Receives a **single combined** manifest + parcels declaration from Temu for **Chile**. Send the full payload in one request; no separate parcel-then-manifest calls are required. The manifest header and parcel details are validated and stored; parcels are processed asynchronously from the stored manifest file.
        
        **Country code validation**: The `hawbAddresseeCountry` field must be set to `CL` for Chile-bound shipments. The API will validate and reject requests with inconsistent country data.
        
        **Chile-specific requirements:**
        - Consignee `hawbAddresseeCommune` (comuna) is required
        - `hawbAddresseeRut` should be valid Chilean RUT format (e.g., 12.345.678-9)
        - SII tax fields (`taxCompanyId`, `taxCompanyName`) for customs compliance
        - FOB/CIF valuation breakdown supported at parcel and item level
        - `hawbTrackingId` must be unique across all parcel declarations
      parameters:
        - $ref: '#/components/parameters/XTraceIdHeader'
        - $ref: '#/components/parameters/XSpanIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemuManifestRequest'
            examples:
              payload:
                summary: Temu Chile payload example
                value:
                  header:
                    - mawbMasterPlaceTransmission: HKG
                      mawbManifestNumber: 370-97842394
                      mawbFlightTakeoffDate: "2026/03/08"
                      mawbFlightArrivalDate: "2026/03/09"
                      mawbHawbCount: 2684
                      mawbDeclaredWeight: "1500.00"
                  detail:
                    - taxCompanyId: 59251750-7
                      taxCompanyName: Elementary Innovation Pte. Ltd.
                      taxHasBeenPaid: IVA_NO
                      itemList:
                        - country: CL
                          totalPrice: "2.58"
                          gnum: 1
                          itemName: The rack
                          hsCode: 39259000
                          qty: 1
                          currency: USD
                          productUrl: https://www.temu.com/goods.html?_bg_fs=1&goods_id=601099619360218
                          FOB: "2.58"
                        - country: CL
                          totalPrice: "2.51"
                          gnum: 2
                          itemName: threshing plane
                          hsCode: 82055100
                          qty: 1
                          currency: USD
                          productUrl: https://www.temu.com/goods.html?_bg_fs=1&goods_id=601100781335243
                          FOB: "2.51"
                        - country: CL
                          totalPrice: "4.70"
                          gnum: 3
                          itemName: brush
                          hsCode: 96039000
                          qty: 1
                          currency: USD
                          productUrl: https://www.temu.com/goods.html?_bg_fs=1&goods_id=606146031154306
                          FOB: "4.70"
                        - country: CL
                          totalPrice: "2.52"
                          gnum: 4
                          itemName: hook up
                          hsCode: 39259000
                          qty: 1
                          currency: USD
                          productUrl: https://www.temu.com/goods.html?_bg_fs=1&goods_id=601104624814358
                          FOB: "2.52"
                        - country: CL
                          totalPrice: "1.41"
                          gnum: 5
                          itemName: False eyes
                          hsCode: 95030099
                          qty: 1
                          currency: USD
                          productUrl: https://www.temu.com/goods.html?_bg_fs=1&goods_id=601105703311652
                          FOB: "1.41"
                      hawbTrackingId: 3514076038
                      hawbShipperName: ZQ01
                      hawbShipperCity: Zhaoqing
                      hawbShipperCountry: CN
                      hawbPieces: 5
                      hawbAddresseeName: karolaine Alvarado Moreno
                      hawbAddresseeAddress: Calle Ángel Pimentel 01487
                      hawbAddresseeRegion: Región Metropolitana de Santiago
                      hawbAddresseeCommune: Puente Alto
                      hawbAddresseeCountry: CL
                      hawbAddresseePhone: 949002530
                      hawbAddresseeRut: 18478538-2
                      hawbDescriptionContent: The rack;threshing plane;brush;hook up;False eyes
                      hawbCifValueUsd: "15.15"
                      hawbFobValueUsd: "13.72"
                      hawbGrossWeight: "0.385"
                      hawbIdExternal: BG-2601278CGP1YS9NG
                      hawbBagId: CLMC260128175913
                      hawbMasterCode: 370-97842394
      responses:
        '200':
          description: |
            **Manifest accepted for processing**
            
            The request has passed all synchronous validation checks and the manifest has been securely stored to S3. This response indicates acceptance, not completion.
            
            The manifest and parcel details have been persisted and will be processed asynchronously. Individual parcels will be extracted from the manifest file and processed by background workers.
            
            **Response structure:**
            - `message`: High-level status message
            - `body`: Detailed information including manifest number and parcel count
            - `status`: "accepted" for successful submissions
            - `token`: The X-Trace-Id from the request headers (for tracing)
            - `statusCode`: HTTP status code (200)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemuResponse'
              examples:
                success_example:
                  summary: Successful submission
                  value:
                    message: "Pre-alert accepted for processing"
                    body: "Manifest 480-00143173 received successfully. 200 parcels will be processed asynchronously."
                    status: "accepted"
                    token: "a3d6f123-4b5c-6d7e-8f9a-0b1c2d3e4f56"
                    statusCode: 200
        '400':
          description: |
            **Validation failed**
            
            The request failed one or more validation checks:
            - Schema validation: Invalid data types, formats, or constraints
            - Business rules: Missing required fields, invalid array sizes, country code mismatch
            - Structure validation: Malformed header or detail arrays
            
            **Response structure:**
            - `message`: Error category
            - `body`: Detailed error description
            - `status`: "rejected" for failed validations
            - `token`: The X-Trace-Id from the request headers (for tracing)
            - `statusCode`: HTTP status code (400)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemuErrorResponse'
              examples:
                validation_error:
                  summary: Validation failed
                  value:
                    message: "Pre-alert validation failed"
                    body: "Error: Validation failed"
                    status: "rejected"
                    token: "a3d6f123-4b5c-6d7e-8f9a-0b1c2d3e4f56"
                    statusCode: 400
        '401':
          description: |
            **Unauthorized - Authentication required**
            
            This error occurs when:
            - No `Authorization` header is provided
            - Invalid or expired authentication token
            - Token verification fails
            
            The response uses the standard error format from the global exception filter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
              examples:
                unauthorized:
                  summary: Missing or invalid authentication
                  value:
                    success: false
                    error:
                      code: "UnauthorizedException"
                      message: "Internal server error"
                      details: []
                    timestamp: "2026-03-05T20:02:48.697Z"
                    path: "/temu/cl"
                    method: "POST"
        '404':
          description: |
            **Not Found - Invalid endpoint**
            
            This error occurs when:
            - Using an incorrect endpoint path
            - The requested resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
              examples:
                not_found:
                  summary: Invalid endpoint path
                  value:
                    success: false
                    error:
                      code: "NotFoundException"
                      message: "Internal server error"
                      details: []
                    timestamp: "2026-03-05T19:57:15.337Z"
                    path: "/temu/chile"
                    method: "POST"
        '500':
          description: |
            **Internal server error**
            
            Unexpected server-side errors including:
            - Database connection failures
            - S3 storage errors
            - Unhandled exceptions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
              examples:
                internal_error:
                  summary: Unexpected server error
                  value:
                    success: false
                    error:
                      code: "InternalServerErrorException"
                      message: "Internal server error"
                      details: []
                    timestamp: "2026-03-05T19:51:24.700Z"
                    path: "/temu/cl"
                    method: "POST"
  /temu/pe:
    post:
      tags:
        - Temu
      operationId: insertTemuPreAlertPeru
      summary: Temu Peru Declaration (Manifest + Parcels)
      x-public: true
      x-audience: temu
      x-category: Temu
      description: |
        Receives a **single combined** manifest + parcels declaration from Temu for **Peru**. Send the full payload in one request; no separate parcel-then-manifest calls are required. The manifest header and parcel details are validated and stored; parcels are processed asynchronously from the stored manifest file.
        
        **Country code validation**: The `hawbAddresseeCountry` field must be set to `PE` for Peru-bound shipments. The API will validate and reject requests with inconsistent country data.
        
        **Peru-specific requirements:**
        - Consignee `hawbAddresseeDepartment` (Departamento) is required
        - `hawbAddresseeProvince` (Provincia) and `hawbAddresseeDistrict` (Distrito) for precise addressing
        - `hawbAddresseeRut` should contain DNI (8 digits) for Peruvian nationals
        - `hawbTrackingId` must be unique across all parcel declarations
      parameters:
        - $ref: '#/components/parameters/XTraceIdHeader'
        - $ref: '#/components/parameters/XSpanIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemuManifestRequest'
            examples:
              payload:
                summary: Temu Peru payload example
                value:
                  header:
                    - mawbMasterPlaceTransmission: CAN
                      mawbManifestNumber: 164-99893765
                      mawbFlightTakeoffDate: "2026/03/08"
                      mawbFlightArrivalDate: "2026/03/09"
                      mawbHawbCount: 11
                  detail:
                    - itemList:
                        - country: PE
                          totalPrice: "7.72"
                          gnum: 1
                          itemName: Long Open-Front Cardigan
                          hsCode: 9809000020
                          price: "7.72"
                          qty: 1
                          currency: USD
                        - country: PE
                          totalPrice: "9.14"
                          gnum: 2
                          itemName: shorts
                          hsCode: 6207110000
                          price: "4.57"
                          qty: 2
                          currency: USD
                        - country: PE
                          totalPrice: "54.48"
                          gnum: 3
                          itemName: One-piece swimsuit
                          hsCode: 6112490000
                          price: "13.62"
                          qty: 4
                          currency: USD
                        - country: PE
                          totalPrice: "5.71"
                          gnum: 4
                          itemName: pants
                          hsCode: 6203429069
                          price: "5.71"
                          qty: 1
                          currency: USD
                        - country: PE
                          totalPrice: "7.57"
                          gnum: 5
                          itemName: dress
                          hsCode: 6204420000
                          price: "7.57"
                          qty: 1
                          currency: USD
                        - country: PE
                          totalPrice: "10.95"
                          gnum: 6
                          itemName: Tank set
                          hsCode: 6109909091
                          price: "10.95"
                          qty: 1
                          currency: USD
                        - country: PE
                          totalPrice: "1.97"
                          gnum: 7
                          itemName: NudeBra
                          hsCode: 3926209000
                          price: "1.97"
                          qty: 1
                          currency: USD
                        - country: PE
                          totalPrice: "10.01"
                          gnum: 8
                          itemName: Waistcoat set
                          hsCode: 9809000020
                          price: "10.01"
                          qty: 1
                          currency: USD
                        - country: PE
                          totalPrice: "8.19"
                          gnum: 9
                          itemName: Women's swimsuit set
                          hsCode: 6112410000
                          price: "8.19"
                          qty: 1
                          currency: USD
                        - country: PE
                          totalPrice: "1.89"
                          gnum: 10
                          itemName: placket
                          hsCode: 3926209000
                          price: "1.89"
                          qty: 1
                          currency: USD
                      hawbTrackingId: KXC412212568
                      hawbShipperName: ZQ01
                      hawbShipperCity: Zhaoqing
                      hawbShipperCountry: CN
                      hawbPieces: 14
                      hawbAddresseeName: Ana Lucía Sotelo Arana
                      hawbAddresseeAddress: calle 13 de abril #113
                      hawbAddresseeRegion: Arequipa
                      hawbAddresseeCommune: Arequipa
                      hawbAddresseeCountry: PE
                      hawbAddresseePhone: 989597701
                      hawbAddresseeEmail: ui6cbeetb5120b3@g.shipping.temuemail.com
                      hawbAddresseeRut: 10727495237
                      hawbDescriptionContent: "Long Open-Front Cardigan;shorts;One-piece swimsuit;pants;dress;Tank set;NudeBra;Waistcoat set;Women's swimsuit set;placket"
                      hawbValueUsd: "117.63"
                      hawbGrossWeight: "2.387"
                      hawbIdExternal: BG-3101198GXSZ2YCWG
                      hawbBagId: BIFH310120548133
                      hawbMasterCode: 164-99893765
      responses:
        '200':
          description: |
            **Manifest accepted for processing**
            The request has passed all synchronous validation checks and the manifest has been securely stored to S3. This response indicates acceptance, not completion. 
            The manifest and parcel details have been persisted and will be processed asynchronously. Individual parcels will be extracted from the manifest file and processed by background workers.
            
            **Response structure:**
            - `message`: High-level status message
            - `body`: Detailed information including manifest number and parcel count
            - `status`: "accepted" for successful submissions
            - `token`: The X-Trace-Id from the request headers (for tracing)
            - `statusCode`: HTTP status code (200)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemuResponse'
              examples:
                success_example:
                  summary: Successful submission
                  value:
                    message: "Pre-alert accepted for processing"
                    body: "Manifest TEMU-PE-2024-001 received successfully. 150 parcels will be processed asynchronously."
                    status: "accepted"
                    token: "550e8400-e29b-41d4-a716-446655440000"
                    statusCode: 200
        '400':
          description: |
            **Validation failed**
            
            The request failed one or more validation checks:
            - Schema validation: Invalid data types, formats, or constraints
            - Business rules: Missing required fields, invalid array sizes, country code mismatch
            - Structure validation: Malformed header or detail arrays
            
            Failed requests are stored to: `FAILED/TEMU/MAWBS/{year}/{month}/{id}.json`
            
            **Response structure:**
            - `message`: Error category
            - `body`: Detailed error description
            - `status`: "rejected" for failed validations
            - `token`: The X-Trace-Id from the request headers (for tracing)
            - `statusCode`: HTTP status code (400)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemuErrorResponse'
              examples:
                validation_error:
                  summary: Validation failed
                  value:
                    message: "Pre-alert validation failed"
                    body: "Error: Validation failed"
                    status: "rejected"
                    token: "550e8400-e29b-41d4-a716-446655440000"
                    statusCode: 400
        '401':
          description: |
            **Unauthorized - Authentication required**
            
            This error occurs when:
            - No `Authorization` header is provided
            - Invalid or expired authentication token
            - Token verification fails
            
            The response uses the standard error format from the global exception filter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
              examples:
                unauthorized:
                  summary: Missing or invalid authentication
                  value:
                    success: false
                    error:
                      code: "UnauthorizedException"
                      message: "Internal server error"
                      details: []
                    timestamp: "2026-03-05T20:02:48.697Z"
                    path: "/temu/pe"
                    method: "POST"
        '404':
          description: |
            **Not Found - Invalid endpoint**
            
            This error occurs when:
            - Using an incorrect endpoint path
            - The requested resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
              examples:
                not_found:
                  summary: Invalid endpoint path
                  value:
                    success: false
                    error:
                      code: "NotFoundException"
                      message: "Internal server error"
                      details: []
                    timestamp: "2026-03-05T19:57:15.337Z"
                    path: "/temu/chile"
                    method: "POST"
        '500':
          description: |
            **Internal server error**
            
            Unexpected server-side errors including:
            - Database connection failures
            - S3 storage errors
            - Unhandled exceptions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
              examples:
                internal_error:
                  summary: Unexpected server error
                  value:
                    success: false
                    error:
                      code: "InternalServerErrorException"
                      message: "Internal server error"
                      details: []
                    timestamp: "2026-03-05T19:51:24.700Z"
                    path: "/temu/pe"
                    method: "POST"
components:
  schemas:
    TemuManifestRequest:
      type: object
      required:
        - header
        - detail
      properties:
        header:
          type: array
          description: Array of manifest headers containing consolidated shipment information (MAWB details). Typically contains one header per manifest.
          minItems: 1
          items:
            $ref: '#/components/schemas/TemuHeader'
        detail:
          type: array
          description: Array of individual parcel details (HAWB details) included in the manifest. Each item represents one parcel with complete shipping and customs information.
          minItems: 1
          items:
            $ref: '#/components/schemas/TemuDetail'
    TemuResponse:
      type: object
      properties:
        message:
          type: string
          nullable: true
          example: Pre-alert accepted for processing
        body:
          type: string
          example: PreAlert received successfully
        status:
          type: string
          nullable: true
          example: accepted
        token:
          type: string
          nullable: true
        statusCode:
          type: number
          example: 200
      example:
        message: Pre-alert accepted for processing
        body: Manifest 999-12345678 received successfully. 154 parcels will be processed asynchronously.
        status: accepted
        token: 550e8400-e29b-41d4-a716-446655440000
        statusCode: 200
    TemuErrorResponse:
      type: object
      description: Error response format returned by the controller for validation errors
      properties:
        message:
          type: string
          nullable: true
          example: Validation failed
        body:
          type: string
          example: Request validation failed
        status:
          type: string
          nullable: true
          example: error
        token:
          type: string
          nullable: true
        statusCode:
          type: number
          example: 400

    StandardErrorResponse:
      type: object
      description: Standard error response format returned by the global exception filter for authentication, authorization, and server errors
      required:
        - success
        - error
        - timestamp
        - path
        - method
      properties:
        success:
          type: boolean
          example: false
          description: Indicates the request was unsuccessful
        error:
          $ref: '#/components/schemas/ErrorDetail'
        timestamp:
          type: string
          format: date-time
          example: "2026-03-05T19:51:24.700Z"
          description: ISO 8601 timestamp when the error occurred
        path:
          type: string
          example: "/temu/cl"
          description: The API endpoint path where the error occurred
        method:
          type: string
          example: "POST"
          description: The HTTP method used in the request

    ErrorDetail:
      type: object
      required:
        - code
        - message
        - details
      properties:
        code:
          type: string
          description: Error code identifying the type of error
          example: "UnauthorizedException"
        message:
          type: string
          description: Human-readable error message
          example: "Unauthorized"
        details:
          type: array
          description: Array of specific field-level validation errors (empty for non-validation errors)
          items:
            type: object
            properties:
              field:
                type: string
                description: The field that caused the error
              message:
                type: string
                description: Detailed error message for the field
              code:
                type: string
                description: Machine-readable error code
    NotificationAcceptedResponse:
      type: object
      required:
        - status
        - requestId
      properties:
        status:
          type: string
          description: Processing status of the order snapshot request
          enum:
            - ACCEPTED
            - PROCESSING
            - COMPLETED
        requestId:
          type: string
          description: Unique identifier for the request
          examples:
            - REQ0001
            - REQ0002
    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          $ref: '#/components/schemas/ErrorObject'
    OrderSnapshotAcceptedResponse:
      type: object
      required:
        - status
        - requestId
      properties:
        status:
          type: string
          description: Processing status of the order snapshot request
          enum:
            - ACCEPTED
            - PROCESSING
            - COMPLETED
        requestId:
          type: string
          description: Unique identifier for the request
          examples:
            - REQ0001
            - REQ0002
    SellerProfileAcceptedResponse:
      type: object
      required:
        - status
        - requestId
      properties:
        status:
          type: string
          description: Processing status of the seller profile request
          enum:
            - ACCEPTED
            - PROCESSING
            - COMPLETED
        requestId:
          type: string
          description: Unique identifier for the request
          examples:
            - REQ0001
            - REQ0002
    WaybillAcceptedResponse:
      type: object
      required:
        - status
        - requestId
      properties:
        status:
          type: string
          description: Processing status of the waybill request
          enum:
            - ACCEPTED
            - PROCESSING
            - COMPLETED
        requestId:
          type: string
          description: Unique identifier for the request
          examples:
            - REQ0001
            - REQ0002
    NotificationRequestBody:
      type: object
      required:
        - channelInfo
        - stencilId
        - channelDataModel
        - meta
      properties:
        contextId:
          type: string
          description: Unique identifier for the request context.
        stencilId:
          type: string
          description: Identifier for the notification stencil/template.
          enum:
            - LOGIN_OTP
        channelInfo:
          $ref: '#/components/schemas/ChannelInfo'
        channelDataModel:
          oneOf:
            - $ref: '#/components/schemas/EmailLoginOtpDataModel'
          discriminator:
            propertyName: stencilId
            mapping:
              LOGIN_OTP: '#/components/schemas/EmailLoginOtpDataModel'
        meta:
          $ref: '#/components/schemas/NotificationMeta'
    OrderSnapshotRequestBody:
      type: object
      properties:
        eventDateTime:
          type: integer
          description: Unix timestamp of the event
          examples:
            - 1701369600
        orderId:
          type: string
          description: Unique identifier for the order. Identifier provided by Serhafen.
          examples:
            - ORD123456789
        version:
          type: integer
          description: Version of the order snapshot, will help us to avoid processing older snapshots. If a snapshot with a lower version is received, it will be ignored. And if the version at system is not version - 1, we need to trigger an alert, and process the snapshot.
          examples:
            - 1
        orderItems:
          type: array
          description: List of items included in the order
          items:
            $ref: '#/components/schemas/OrderItem'
        choreRequests:
          type: array
          description: List of chore requests associated with the order (cancellations, returns, etc.). We need to consider empty array if choreRequests field does not exist in the request.
          items:
            $ref: '#/components/schemas/ChoreRequest'
        remarks:
          type: string
          description: Additional remarks or notes about the order
      required:
        - eventDateTime
        - orderId
        - version
        - orderItems
        - choreRequests
        - remarks
    CreateSellerRequestBody:
      type: object
      properties:
        actionType:
          type: string
          description: Type of action being performed on the seller profile
          examples:
            - CREATE
            - UPDATE
        sellerId:
          type: string
          description: Unique identifier for the seller
          examples:
            - SELLER001
            - SELLER002
        email:
          type: string
          format: email
          description: Email address of the seller
          examples:
            - seller@example.com
        phone:
          type: string
          description: Phone number of the seller
          examples:
            - '+1234567890'
        displayName:
          type: string
          description: Display name for the seller profile
          examples:
            - ABC Trading Co.
        description:
          type: string
          description: Description of the seller or business
          examples:
            - Premium electronics retailer
        sellerName:
          type: string
          description: Official name of the seller
          examples:
            - ABC Trading Company Ltd
        status:
          type: string
          description: Current status of the seller profile
          enum:
            - ACCEPTED
            - ACTIVE
            - INACTIVE
            - PENDING
            - SUSPENDED
          examples:
            - ACTIVE
        businessDetails:
          $ref: '#/components/schemas/BusinessDetails'
        bankDetails:
          $ref: '#/components/schemas/BankDetails'
        createdAt:
          type: string
          description: Timestamp when the seller profile was created
          examples:
            - '1709287800'
        updatedAt:
          type: string
          description: Timestamp when the seller profile was last updated
          examples:
            - '1709460000'
      required:
        - actionType
        - sellerId
        - email
        - phone
        - displayName
        - description
        - sellerName
        - status
        - businessDetails
        - bankDetails
        - createdAt
        - updatedAt
    WaybillRequestBody:
      type: object
      properties:
        shipmentId:
          type: string
          description: Unique identifier for the shipment
          examples:
            - SHIP123456789
        senderDetails:
          $ref: '#/components/schemas/SenderDetails'
        receiverDetails:
          $ref: '#/components/schemas/ReceiverDetails'
        orderDetails:
          $ref: '#/components/schemas/OrderDetails'
        parcelDetails:
          $ref: '#/components/schemas/ParcelDetails'
      required:
        - shipmentId
        - senderDetails
        - receiverDetails
        - orderDetails
        - parcelDetails
    TemuHeader:
      type: object
      required:
        - mawbMasterPlaceTransmission
        - mawbManifestNumber
        - mawbFlightTakeoffDate
        - mawbFlightArrivalDate
        - mawbHawbCount
      properties:
        mawbMasterDate:
          type: string
          format: date-time
          description: Master air waybill creation date and time.
        mawbMasterPlaceTransmission:
          type: string
          description: The place of transmission for the mawb.
        mawbDateInternment:
          type: string
          format: date-time
          description: Date and time when the shipment entered customs or the destination country.
        mawbManifestNumber:
          type: string
          description: The unique identifier for mawb.
        mawbManifestType:
          type: string
          description: Type of manifest (e.g., commercial, courier, postal).
        mawbViaTransport:
          type: string
          description: Mode or route of transport (e.g., air freight, sea freight).
        mawbFlightTakeoffDate:
          type: string
          pattern: ^\d{4}\/\d{2}\/\d{2}$
          description: "Scheduled or actual departure time of the flight (ETD) (format: YYYY/MM/DD). Must be on or after MAWB creation."
        mawbFlightArrivalDate:
          type: string
          pattern: ^\d{4}\/\d{2}\/\d{2}$
          description: "Scheduled Estimated Time of Arrival (ETA) at the destination port (format: YYYY/MM/DD). Must be on or after MAWB creation."
        mawbHawbCount:
          type: number
          minimum: 0
          description: The total number of parcels included in this manifest.
        mawbDeclaredWeight:
          type: number
          description: Total consolidated weight of the MAWB in Kilograms (KG). Decimals are accepted.
          minimum: 0
        mawbVerifiedWeight:
          type: number
          description: The verified/actual weight of the consolidated shipment in Kilograms (KG) as confirmed by the carrier or customs authority.
          minimum: 0
    TemuDetail:
      type: object
      required:
        - hawbTrackingId
        - hawbShipperName
        - hawbShipperCity
        - hawbShipperCountry
        - hawbPieces
        - hawbAddresseeName
        - hawbAddresseeAddress
        - hawbAddresseeRegion
        - hawbAddresseeCommune
        - hawbAddresseeCountry
        - hawbAddresseePhone
        - hawbAddresseeRut
        - hawbDescriptionContent
        - hawbGrossWeight
        - hawbIdExternal
        - hawbBagId
        - hawbMasterCode
        - itemList
      properties:
        hawbTrackingId:
          type: string
          description: The last-mile carrier tracking number that will be used to deliver the parcel to the end customer.
        hawbShipperName:
          type: string
          description: Name of the shipper/sender of the parcel.
        hawbShipperCity:
          type: string
          description: City where the shipment originates.
        hawbShipperCountry:
          type: string
          description: Country of origin (ISO 2-letter country code).
        hawbPieces:
          type: integer
          description: Number of pieces/packages in this individual parcel shipment.
        hawbBarcode:
          type: string
          description: Barcode identifier for the parcel, used for scanning and tracking in warehouses.
        hawbAddresseeName:
          type: string
          description: Full name of the recipient/consignee.
        hawbAddresseeAddress:
          type: string
          description: Address for delivery.
        hawbAddresseeZipCode:
          type: string
          description: Postal/ZIP code of the delivery address.
        hawbAddresseeRegion:
          type: string
          description: Region or state of the delivery address.
        hawbAddresseeCity:
          type: string
          description: City of the delivery address.
        hawbAddresseeCommune:
          type: string
          description: Comuna
        hawbAddresseeDistrict:
          type: string
          description: Distrito/District
        hawbAddresseeProvince:
          type: string
          description: Provincia/Province
        hawbAddresseeDepartment:
          type: string
          description: Departamento/Department
        hawbAddresseeCountry:
          type: string
          description: 2-letter ISO 3166-1 alpha-2 country code. Must match the endpoint being called (e.g., CL for Chile, PE for Peru).
        hawbAddresseePhone:
          type: string
          description: Contact phone number of the recipient.
        hawbAddresseeEmail:
          type: string
          description: Email address of the recipient.
          format: email
        hawbAddresseeRut:
          type: string
          description: National Identification Number. For Chile, this must be a valid RUT (e.g., 12345678-9). For Peru, this should be a valid DNI (8 digits) or RUC (11 digits).
        hawbDescriptionContent:
          type: string
          description: Detailed, English or local language description of the goods for customs clearance. Vague descriptions like 'gift' or 'accessories' may cause customs delays.
        hawbWarning:
          type: string
          description: Special warnings or handling instructions for the parcel (e.g., fragile, perishable, hazardous materials).
        hawbValueUsd:
          description: Total declared commercial value of the individual parcel in USD. Usually equals the sum of all item totalPrices. (accepts number or string)
          oneOf:
            - type: number
            - type: string
        hawbFobValueUsd:
          description: Free On Board (FOB) value in USD. The cost of the goods excluding international shipping and insurance. (accepts number or string)
          oneOf:
            - type: number
            - type: string
        hawbCifValueUsd:
          description: Cost, Insurance, and Freight (CIF) value in USD. The total cost of the goods including shipping and insurance to the destination port. (accepts number or string)
          oneOf:
            - type: number
            - type: string
        taxCompanyId:
          type: string
          description: SII ID (registered ID)
        taxCompanyName:
          type: string
          description: Name of the company (as per SII)
        taxHasBeenPaid:
          type: string
          description: Indicates if VAT/Taxes have been prepaid. Accepted values typically include IVA_YES (Yes) or IVA_NO (No).
        hawbGrossWeight:
          description: Must be provided in Kilograms (KG). Decimals are accepted. (accepts number or string)
          oneOf:
            - type: number
            - type: string
        hawbWeightDimensional:
          type: number
          description: Volumetric/Dimensional weight of the parcel, typically in Kilograms (KG). Used for freight calculations when volume exceeds actual weight.
          minimum: 0
        hawbFreightValue:
          type: number
          minimum: 0
          description: The declared value of the parcel for customs purposes. This is the value that customs authorities will use to calculate duties and taxes.
        hawbIdExternal:
          type: string
          description: The Temu Order ID or external system identifier. Used for cross-referencing between systems.
        hawbBagId:
          type: string
          description: Identifier of the physical Big Bag or sack containing this parcel. Used for tracking within the warehouse/logistics network.
        hawbBatchNumber:
          type: string
          description: Batch number used for internal tracking and organization.
        hawbMasterCode:
          type: string
          description: Master code used for internal tracking and organization.
        hawbInsurance:
          type: number
          minimum: 0
        itemList:
          type: array
          items:
            $ref: '#/components/schemas/TemuItem'
        token:
          type: string
          description: Token for billing/partner association
    ErrorObject:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          example: ERROR_CODE
        message:
          type: string
          example: ERROR_MESSAGE
        details:
          type: object
          properties:
            field:
              type: string
              example: ERROR_FIELD
            error:
              type: string
              example: ERROR_MESSAGE
            code:
              type: string
              example: ERROR_CODE
          required:
            - field
            - error
            - code
    ChannelInfo:
      type: object
      required:
        - type
        - from
        - to
      properties:
        type:
          type: string
          enum:
            - EMAIL
        to:
          type: array
          items:
            $ref: '#/components/schemas/Recipient'
        from:
          $ref: '#/components/schemas/Recipient'
    EmailLoginOtpDataModel:
      type: object
      description: Data model for LOGIN_OTP stencil when using EMAIL channel.
      required:
        - otp
        - time
      properties:
        otp:
          type: string
          description: One-time password to be sent.
          examples:
            - '123456'
        time:
          type: string
          description: Time validity for the OTP.
          examples:
            - 10 minutes
    NotificationMeta:
      type: object
      required:
        - otpGeneratedTime
        - userRequestTime
      properties:
        otpGeneratedTime:
          type: integer
          examples:
            - 1633024800
          format: long
        userRequestTime:
          type: integer
          examples:
            - 1633024860
          format: long
    OrderItem:
      type: object
      properties:
        orderItemId:
          type: string
          description: Unique identifier for the order item. Identifier provided by Serhafen, Seller order line item
        status:
          type: array
          description: List of status entries for this order item, tracking its progression through the fulfillment process
          items:
            $ref: '#/components/schemas/ItemStatus'
      required:
        - orderItemId
        - status
    ChoreRequest:
      type: object
      properties:
        type:
          type: string
          description: Type of chore request being made
          enum:
            - CANCEL
            - RETURN_COMPLETE_NOTIFY
        choreRequestId:
          type: string
          description: Unique identifier of the request
        flowType:
          type: string
          description: Origin of the chore request (customer-initiated or seller-initiated)
          enum:
            - CUSTOMER_CANCEL
            - CUSTOMER_RETURN
            - SELLER_CANCEL
        orderItems:
          type: array
          description: List of order items affected by this chore request
          items:
            $ref: '#/components/schemas/OrderItem'
      required:
        - type
        - choreRequestId
        - flowType
        - orderItems
    BusinessDetails:
      type: object
      properties:
        directorName:
          type: string
          description: Full name of the business director
          examples:
            - John Smith
        directorMail:
          type: string
          format: email
          description: Email address of the business director
          examples:
            - john.smith@example.com
        directorMobile:
          type: string
          description: Mobile phone number of the business director
          examples:
            - '+1234567890'
        businessType:
          type: string
          description: Type of business entity
          examples:
            - LIMITED_LIABILITY
            - SOLE_PROPRIETOR
            - PARTNERSHIP
        businessRegistration:
          type: string
          description: Business registration number
          examples:
            - REG123456789
        applicantId:
          type: string
          description: Unique identifier for the applicant
          examples:
            - APP001
        vatTaxIdentifier:
          type: string
          description: VAT or tax identification number
          examples:
            - VAT123456789
        businessName:
          type: string
          description: Registered name of the business
          examples:
            - ABC Trading Company Limited
        address:
          $ref: '#/components/schemas/Address'
      required:
        - directorName
        - directorMail
        - directorMobile
        - businessType
        - businessRegistration
        - applicantId
        - vatTaxIdentifier
        - businessName
        - address
    BankDetails:
      type: object
      properties:
        accountNumber:
          type: string
          description: Bank account number
          examples:
            - '1234567890'
        branchCode:
          type: string
          description: Bank branch code or routing number
          examples:
            - BRANCH001
            - '021000021'
        bankName:
          type: string
          description: Name of the bank
          examples:
            - First National Bank
        accountType:
          type: string
          description: Type of bank account
          enum:
            - SAVINGS
            - CHECKING
            - BUSINESS
          examples:
            - BUSINESS
            - CHECKING
        accountHolderName:
          type: string
          description: Name of the account holder
          examples:
            - ABC Trading Company Limited
      required:
        - accountNumber
        - branchCode
        - bankName
        - accountType
        - accountHolderName
    SenderDetails:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the sender
          examples:
            - SENDER001
        locationId:
          type: string
          description: Location identifier for the sender's address
          examples:
            - LOC001
      required:
        - id
        - locationId
        - collectionDetails
    ReceiverDetails:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the receiver
          examples:
            - RECEIVER001
        locationId:
          type: string
          description: Location identifier for the receiver's address
          examples:
            - LOC002
      required:
        - id
        - locationId
    OrderDetails:
      type: object
      properties:
        orderId:
          type: string
          description: Unique identifier for the order associated with this shipment
          examples:
            - ORD123456789
        items:
          type: array
          description: List of items included in the shipment
          items:
            $ref: '#/components/schemas/ShipmentItem'
      required:
        - orderId
        - items
    ParcelDetails:
      type: object
      properties:
        quantity:
          type: integer
          description: Total number of parcels in the shipment
          minimum: 1
          examples:
            - 3
        totalWeight:
          type: number
          description: Total weight of all parcels in kilograms
          minimum: 0
          examples:
            - 15.5
            - 22.3
        totalVolume:
          type: number
          description: Total volume of all parcels in cubic meters
          minimum: 0
          examples:
            - 0.5
            - 1.2
        parcels:
          type: array
          description: List of individual parcels in the shipment
          items:
            $ref: '#/components/schemas/Parcel'
      required:
        - quantity
        - totalWeight
        - totalVolume
        - parcels
    TemuItem:
      type: object
      required:
        - country
        - gnum
        - hsCode
        - itemName
        - currency
        - qty
        - totalPrice
      properties:
        country:
          type: string
          description: Country of destination
          example: PE
        gnum:
          type: integer
          description: Line item index number (1, 2, 3...) referencing the position of this item within the parcel. Must start at 1 and increment sequentially.
          minimum: 1
        hsCode:
          type: string
          description: 6 to 10 digit Harmonized System Tariff Code. Required for accurate duty and tax calculation by local customs authorities.
        itemName:
          type: string
          description: Clear, English or local language description of the product. Avoid generic terms like 'gift' or 'merchandise' to prevent customs delays.
        currency:
          type: string
          description: 3-letter ISO 4217 Currency Code.
          pattern: ^[A-Z]{3}$
          example: USD
        price:
          type: number
          description: Unit price of a single item in the specified currency.
          minimum: 0
        qty:
          type: number
          description: Number of units of this specific item in the parcel.
          minimum: 1
        totalPrice:
          type: number
          description: Total line-item value in the specified currency (qty × unit price).
          minimum: 0
        FOB:
          type: number
          description: Free On Board (FOB) value for this item in the specified currency. The cost of the good excluding international shipping and insurance.
          minimum: 0
        CIF:
          type: number
          description: Cost, Insurance, and Freight (CIF) value for this item in the specified currency. The total cost including shipping and insurance to destination.
          minimum: 0
        productUrl:
          type: string
          description: URL of the product.
    Recipient:
      type: object
      properties:
        name:
          type: string
          description: Name of the recipient.
          examples:
            - John Doe
        address:
          type: string
          description: Contact address - email, phone number, or WhatsApp number depending on channel type.
          examples:
            - john.doe@example.com
    ItemStatus:
      type: object
      properties:
        status:
          type: string
          description: Current status of the order item in the fulfillment lifecycle
          enum:
            - APPROVED
            - RESERVED
            - READY_TO_SHIP
            - SHIPPED
            - OUT_FOR_DELIVERY
            - DELIVERED
            - CANCELLED
        quantity:
          type: integer
          description: Number of items in this status
          minimum: 1
          examples:
            - 2
            - 4
        trackingId:
          type: string
          description: Tracking identifier for shipment
          examples:
            - SH00123456789
      required:
        - status
        - quantity
    Address:
      type: object
      required:
        - region
        - province
        - comuna
        - locality
      properties:
        region:
          type: string
          description: Region or state
          example: Callao
        province:
          type: string
          description: Province
          example: Callao
        comuna:
          type: string
          description: District or comuna
          example: Cercado
        locality:
          type: string
          description: Street address and details
          example: Av. Colonial, Warehouse 5, Gate B
        district:
          type: string
          description: District (alternative to comuna)
          example: Cercado
        zipCode:
          type: string
          description: Postal/ZIP code
          example: '07001'
        latitude:
          type: number
          format: double
          description: GPS latitude coordinate
          example: -12.0464
        longitude:
          type: number
          format: double
          description: GPS longitude coordinate
          example: -77.0428
        phone:
          type: string
          description: Contact phone number
          example: '+5112345678'
    ShipmentItem:
      type: object
      properties:
        itemId:
          type: string
          description: Unique identifier for the item
          examples:
            - ITEM001
        quantity:
          type: integer
          description: Number of units of this item in the shipment
          minimum: 1
          examples:
            - 2
            - 5
      required:
        - itemId
        - quantity
    Parcel:
      type: object
      required:
        - IOSSNo
        - goodsList
      properties:
        weight:
          oneOf:
            - type: string
            - type: number
          description: '**[OPTIONAL]** Weight'
        weightUnit:
          type: string
          description: '**[OPTIONAL]** Weight unit'
        suggestedWeight:
          oneOf:
            - type: string
            - type: number
          description: '**[OPTIONAL]** Suggested weight'
        price:
          oneOf:
            - type: string
            - type: number
          description: '**[OPTIONAL]** Price'
        priceUnit:
          type: string
          description: '**[OPTIONAL]** Price unit'
        priceCurrency:
          type: string
          description: '**[OPTIONAL]** Currency code'
        length:
          oneOf:
            - type: string
            - type: number
          description: '**[OPTIONAL]** Length'
        width:
          oneOf:
            - type: string
            - type: number
          description: '**[OPTIONAL]** Width'
        height:
          oneOf:
            - type: string
            - type: number
          description: '**[OPTIONAL]** Height'
        size:
          type: string
          description: '**[OPTIONAL]** Size description'
        volume:
          oneOf:
            - type: string
            - type: number
          description: '**[OPTIONAL]** Volume'
        volumeUnit:
          type: string
          description: '**[OPTIONAL]** Volume unit'
        parcelQuantity:
          oneOf:
            - type: string
            - type: number
          description: '**[OPTIONAL]** Parcel quantity'
        splitNum:
          oneOf:
            - type: string
            - type: number
          description: '**[OPTIONAL]** Split number'
        masterID:
          type: string
          description: '**[OPTIONAL]** Master ID'
        bigBagID:
          type: string
          description: '**[OPTIONAL]** Big bag ID'
        bigBagWeight:
          oneOf:
            - type: string
            - type: number
          description: '**[OPTIONAL]** Big bag weight'
        bigBagWeightUnit:
          type: string
          description: '**[OPTIONAL]** Big bag weight unit'
        asnID:
          type: string
          description: '**[OPTIONAL]** ASN ID'
        IOSSNo:
          type: string
          description: '**[REQUIRED]** IOSS registration number'
        dimensionUnit:
          type: string
          description: '**[OPTIONAL]** Dimension unit'
        goodsList:
          type: array
          items:
            $ref: '#/components/schemas/GoodsItem'
          description: '**[REQUIRED]** List of goods'
    GoodsItem:
      type: object
      properties:
        productID:
          type: string
          description: '**[OPTIONAL]** Product ID'
        skuID:
          type: string
          description: '**[OPTIONAL]** SKU ID'
        name:
          type: string
          description: '**[OPTIONAL]** Product name'
        cnName:
          type: string
          description: '**[OPTIONAL]** Chinese name'
        suggestedENName:
          type: string
          description: '**[OPTIONAL]** Suggested English name'
        suggestedCNName:
          type: string
          description: '**[OPTIONAL]** Suggested Chinese name'
        quantity:
          oneOf:
            - type: string
            - type: number
          description: '**[OPTIONAL]** Quantity (string or number)'
        weight:
          oneOf:
            - type: string
            - type: number
          description: '**[OPTIONAL]** Weight (string or number)'
        weightUnit:
          type: string
          description: '**[OPTIONAL]** Weight unit (e.g., ''g'', ''kg'')'
        priceUnit:
          type: string
          description: '**[OPTIONAL]** Price unit (e.g., ''CENT'', ''USD'')'
        priceCurrency:
          type: string
          description: '**[OPTIONAL]** Currency code'
        hsCode:
          type: string
          description: '**[OPTIONAL]** HS code for customs'
        categoryID:
          type: string
          description: '**[OPTIONAL]** Category ID'
        categoryName:
          type: string
          description: '**[OPTIONAL]** Category name'
        categoryCNName:
          type: string
          description: '**[OPTIONAL]** Chinese category name'
        categoryFeature:
          type: string
          description: '**[OPTIONAL]** Category feature'
        productCategory:
          type: string
          description: '**[OPTIONAL]** Product category'
        declarePrice:
          type: string
          description: '**[OPTIONAL]** Declared price'
        duty:
          type: string
          description: '**[OPTIONAL]** Duty amount'
        url:
          type: string
          description: '**[OPTIONAL]** Product URL'
        itemDeclarePrice:
          type: string
          description: '**[OPTIONAL]** Item declared price'
        itemDuty:
          type: string
          description: '**[OPTIONAL]** Item duty'
        extension:
          type: string
          description: '**[OPTIONAL]** Extension data (JSON string)'
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    ApiKeyAuth:
      type: apiKey
      in: header
      name: api-key
      description: API key for authentication
    ExecutorAuth:
      type: apiKey
      in: header
      name: executor-name
      description: Executor name for partner webhooks (DNT, SAVAR, ENVIAME, IP, URP)
  responses:
    NotificationSuccess:
      description: Notification sent successfully.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NotificationAcceptedResponse'
    ValidationError:
      description: Invalid request or missing parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Unauthorized - Missing or invalid API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            statusCode: 401
            message: Unauthorized - Invalid or missing API key
            error: Unauthorized
    ServerError:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    OrderSnapshotAccepted:
      description: Order snapshot accepted for processing.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OrderSnapshotAcceptedResponse'
    SellerProfileAccepted:
      description: Seller profile accepted for processing.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SellerProfileAcceptedResponse'
    WaybillAccepted:
      description: Waybill accepted for processing.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WaybillAcceptedResponse'
    BadRequest:
      description: Bad Request - Invalid input data
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            statusCode: 400
            message: Validation failed
            error: Bad Request
            details:
              - path:
                  - destinationCountry
                message: 'Must be one of: CL, PE, AR, US'
    InternalServerError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            statusCode: 500
            message: An unexpected error occurred
            error: Internal Server Error
  requestBodies:
    NotificationRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NotificationRequestBody'
    OrderSnapshotRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OrderSnapshotRequestBody'
    CreateSellerDraft:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateSellerRequestBody'
    WaybillRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WaybillRequestBody'
  parameters:
    Authorization:
      name: Authorization
      in: header
      required: true
      description: Basic Auth token for authentication.
      schema:
        type: string
        pattern: ^Basic\s[a-zA-Z0-9+=]+$
        example: Basic QWxhZGRpbjpvcGVuIHNlc2FtZQ==
    ContentType:
      name: Content-Type
      in: header
      required: true
      description: Content type of the request body.
      schema:
        type: string
        enum:
          - application/json
    TraceParent:
      name: traceparent
      in: header
      required: true
      description: Traceparent header for distributed tracing.
      schema:
        type: string
        pattern: ^00-[0-9a-f]{32}-[0-9a-f]{16}-[0-9a-f]{2}$
        example: 00-4bf92f3577b34da6a3ce929d0e0e4736-00f067aa0ba902b7-01
    CaseStyle:
      name: X-Case-Style
      in: header
      required: false
      description: Preferred property naming convention for the response. Use 'camel' for camelCase or 'snake' for snake_case. Defaults to camelCase if not specified.
      schema:
        type: string
        enum:
          - camel
          - snake
        default: camel
        examples:
          - camel
          - snake
    XTraceIdHeader:
      name: X-Trace-Id
      in: header
      required: false
      description: Unique trace identifier for distributed tracing
      schema:
        type: string
        pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
        example: 550e8400-e29b-41d4-a716-446655440000
    XSpanIdHeader:
      name: X-Span-Id
      in: header
      required: false
      description: Unique span identifier for distributed tracing
      schema:
        type: string
        pattern: ^[0-9a-f]{16}$
        example: 1234567890abcdef
    TraceparentHeader:
      name: traceparent
      in: header
      required: false
      description: W3C Trace Context traceparent header for distributed tracing
      schema:
        type: string
        pattern: ^[0-9a-f]{2}-[0-9a-f]{32}-[0-9a-f]{16}-[0-9a-f]{2}$
        example: 00-4bf92f3577b34da6a3ce929d0e0e4736-00f067aa0ba902b7-01
    XClientCodeHeader:
      name: x-client-code
      in: header
      required: true
      description: Client identifier for authentication and routing
      schema:
        type: string
        pattern: ^[A-Z]{2,10}$
        example: CLX
    XClientSecretHeader:
      name: x-client-secret
      in: header
      required: false
      description: Client secret for authentication
      schema:
        type: string
        example: client_secret_12345
    AuthorizationHeader:
      name: Authorization
      in: header
      required: true
      description: Authorization header containing Basic Auth token
      schema:
        type: string
        example: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
security:
  - ApiKeyAuth: []
